---
layout: page
title: Categories
permalink: /categories/
---

<nav>
  {% assign category_names = "" | split: ',' %} {% for category in
  site.categories %} {% assign category_names = category_names | push:
  category[0] %} {% endfor %} {% assign sorted_category_names = category_names |
  sort_natural %} {% for category_name in sorted_category_names %}
  <h2 id="{{ category_name | slugize }}">{{ category_name }}</h2>
  <ul>
    {% assign sorted_posts = site.categories[category_name] | sort: 'title_slug'
    %} {% for post in sorted_posts %}
    <li><a href="{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</nav>
