---
pagination:
  enabled: true
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%F" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path }}">&larr; Newer Posts</a>
        </li>
      {% endif %}
      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

</div>
