<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul>
        {% for item in site.data.navigation.main %}
          <li><a href="{{ item.link }}" class="page-link{% if page.url == item.link %} current{% endif %}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>
