---
title: Thwarted attempt at "unauthorized" CERN access
categories:
  - bureaucracy
  - work
tags: []
author: Victor Engmark
---

<p>
  I tried getting to work by car via the new French "E" / "Charles de Gaulle"
  entrance this morning. As instructed (<em>Update: sorry, the link is dead</em
  >), I kept my access card and "Attestation de fonctions" ready. Before the
  gate, a person was walking past the cars to do some kind of check(s) before
  allowing people access. Approaching my car, I put up the documents and rolled
  down the window. But he didn't even look at them. He just explained that
  <strong>since I had a temporary car sticker, I couldn't pass.</strong> So I
  turned around and used the other entrance, which makes the road to work about
  thrice as long. On the way, I stopped at building 55 (<em
    >Update: sorry, the link is dead</em
  >) and got the new azur access card, no fuzz included.
</p>

<p>
  At work, I had another long look at the instructions. I found nothing about
  the car sticker, and decided to call the "Relations with the Host States
  Service" office at 72848. They were first surprised by my explanation, and
  then told me that this must have been a misunderstanding. They told me that
  they would inform the guards that
  <strong
    >getting access does <em>not </em>have anything to do with the car
    sticker.</strong
  ><em> </em>So this evening I'll try again...
</p>
