---
title: The road to driving, part 3
categories:
  - bureaucracy
tags: []
author: Victor Engmark
---

<p>
  I tried calling the number I got from DRIRE (04.37.65.13.10) twice, but I got
  no answer. So I tried looking for the "Brigade de police de Lyon" in the
  <a href="https://www.pagesjaunes.fr/">Pages Jaunes</a> (Yellow Pages). There
  were no exact matches, but I looked under the heading "Police" and tried the
  first number, to the commissariat du 1er arrondissement (5 pl Sathonay 69001
  LYON) @ <b>04 78 28 11 87</b>. I could swear the officer answered something
  like "Good day, Mr. Engmark"... After I had explained quickly what I was
  calling about, the officer asked me whether I rather wanted to speak English.
  Now this went above all my expectations, and the officer seemed to have the
  whole story on his desk(top) already! I heard that I was supposed to have
  received the "notice descriptive du type" with the "certificate de conformite
  partielle". I probably have, and just delivered it to the sub-prefecture. I
  was also told that the engine of my car had never been registered in France,
  and that they therefore couldn't perform the necessary tests to produce a
  "justificatifs concernant le niveau de sonore" (sic). But I was told that my
  engine was very close to one identified as B202L, and was adviced to try to
  explain it to the DRIRE technicians in order to get a "justificatifs
  concernant le niveau de sonore" for this engine instead. So I called...
</p>
