---
title: Patent suicide
categories:
  - future
  - Internet
  - open source
  - patents
  - politics
tags: []
author: Victor Engmark
---

<p>
  Yeah, I know. Everyone's writing about it, so this isn't going to get too
  original. But I'd like to write some of this down before the
  <a href="https://en.wikipedia.org/wiki/Black_Monday">Black Monday</a> of
  patent hogs happens, and the system finally gets the review and revolution it
  needs.
</p>

<p>
  According to
  <a href="https://www.theregister.com/2004/11/03/game_cos_3d_lawsuit/"
    >The Register</a
  >, patent
  <a
    href="https://image-ppubs.uspto.gov/dirsearch-public/print/downloadPdf/4734690"
    >4,734,690</a
  >, filed by Tektronix in 1987, covers <q>the display in 2D of a 3D image</q>.
  Which should cover just about ... every
  <a href="https://en.wikipedia.org/wiki/First-person_shooter">FPS</a> since
  <a href="https://en.wikipedia.org/wiki/Wolfenstein">Wolfenstein</a>!
  <a href="https://www.mckoolsmith.com/">McKool Smith</a>, a US legal firm, is
  now suing numerous companies for violation of this patent. Some of the giants
  mentioned include Electronic Arts (<a
    href="https://en.wikipedia.org/wiki/Sim_City"
    >Sim</a
  >
  series), Activision (<a href="https://en.wikipedia.org/wiki/DOOM">Doom</a>
  series), Take Two (<a
    href="https://en.wikipedia.org/wiki/Grand_Theft_Auto_%28game%29"
    >Grand Theft Auto</a
  >
  series), Ubisoft (<a href="https://en.wikipedia.org/wiki/Myst">Myst</a>,
  <a href="https://en.wikipedia.org/wiki/Rainbow_Six_%28video_game%29"
    >Rainbow Six</a
  >
  series), Atari (<a
    href="https://en.wikipedia.org/wiki/Civilization_%28computer_game%29"
    >Civilization</a
  >
  series), Vivendi Universal (<a href="https://en.wikipedia.org/wiki/Half-Life"
    >Half-Life</a
  >
  series), Sega (<a href="https://en.wikipedia.org/wiki/Sonic_the_hedgehog"
    >Sonic the hedgehog</a
  >
  series), and Lucasarts (<a href="https://en.wikipedia.org/wiki/Star_wars"
    >Star Wars</a
  >
  series).
</p>
<p>
  The case mentioned is in no way unique.
  <a href="https://www.theregister.com/2004/11/05/dell_e-commerce_patent_clash/"
    >There</a
  >
  <a href="https://www.theregister.com/2004/11/05/graphics_patent_suit_update/"
    >are</a
  >
  <a href="https://www.theregister.com/2004/11/04/mckool_smith_lawsuit_update/"
    >numerous</a
  >
  <a href="https://www.theregister.com/2004/11/03/game_cos_3d_lawsuit/"
    >examples</a
  >
  <a href="https://www.theregister.com/2004/10/20/opti_sues_nvidia/">of</a>
  <a href="https://www.theregister.com/2004/10/07/honeywell_sues_34/">what</a>
  <a href="https://www.theregister.com/2004/09/17/cornice_counters_wd/"
    >seems</a
  >
  <a href="https://www.theregister.com/2004/07/08/kids_site_sues_google/">to</a>
  <a href="https://www.theregister.com/2004/07/02/patents_threaten_open_source/"
    >be</a
  >
  <a href="https://www.theregister.com/2004/06/24/cisco_wifi_lawsuit/">a</a>
  <a href="https://www.theregister.com/2004/05/21/intel_sued/">trend</a>
  <a href="https://www.theregister.com/2004/03/30/intel_to_pay_225m/">to</a>
  <a
    href="https://www.marketwatch.com/story/cendant-sues-amazoncom-over-patent-report?dist=yhoo&siteid=yhoo&source=blq%2Fyhoo"
    >make</a
  >
  money
  <a href="https://money.cnn.com/2004/11/02/technology/dell_de/">not</a>
  by the
  <a href="https://oceanpark.com/webmuseum/bullshit_patents.html">good</a>
  old-fashioned
  <a
    href="https://www.sfgate.com/business/article/Ask-Jeeves-Sued-Over-Patents-Site-uses-their-2890664.php"
    >way</a
  >
  <a href="https://vce.org/Omyasued.html">of</a>
  <a href="https://www.macobserver.com/article/2004/04/22.14.shtml">actually</a>
  <a href="https://www.bizjournals.com/austin/stories/2001/12/10/daily22.html"
    >producing</a
  >
  <a
    href="https://www.technewsworld.com/story/dell-intel-sued-for-patent-infringement-33255.html"
    >something</a
  >, but
  <a href="https://www.theregister.com/2004/06/23/seagate_files_suit/"
    >rather</a
  >
  <a href="https://www.theregister.com/2004/07/21/cea_sues_samsung/">by</a>
  <a href="https://www.theregister.com/2004/04/12/ms_settles_intertrust/"
    >suing</a
  >
  <a href="https://www.theregister.com/2004/06/01/walkman_patent_case/"
    >others</a
  >
  <a href="https://www.theregister.com/2004/05/24/palm_vs_xerox/">for</a>
  <a href="https://www.theregister.com/2004/04/26/patriot_sues_150/">making</a>
  <a href="https://www.theregister.com/2004/03/29/intel_dell_sued_over_sse/"
    >something</a
  >
  similar to what you have () made, maybe
  <a
    href="https://www.ecommercetimes.com/story/jupiter-netratings-renew-patent-lawsuit-15908.html"
    >decades</a
  >
  before (all links go to news articles about lawsuits for patent infringement;
  <em>update: sorry, most of the links are dead</em>).
  <a href="https://www.theregister.com/2004/11/05/dell_e-commerce_patent_clash/"
    >Big companies</a
  >
  are sued because the legal system of many countries calculate fines according
  to the size of companies, and smaller companies are sued because many of them
  will rather go for a settlement than risking bankruptcy in case of a loss in
  court.
</p>
<p>
  So what is the basis of the problem? Something which popped up while writing
  this, was that each and every patent is like a law, the main difference being
  that fines are paid to the patent holder, not the state. I am not familiar
  with the legal texts of patents, but I would believe that most of them
  correspond to at least an A4 page of text. With the current amount of patents,
  that amounts to millions of pages! How are companies supposed to be able to
  keep à jour with that? The result is that most companies produce and innovate
  without checking for pre-existing patents for their products, and just hope
  that they are not interfering with existing patents. In other words, the
  current patent system is a time-bomb in the face of any company.
</p>
<p>
  So what can be done? Eliminating patents altogether would be extremely unfair
  towards the innovators, as good ideas would be copied as soon as they are made
  public. The mandate of patent offices could be extended to check project
  descriptions and the like for any possible infringements, but errors in this
  process could create legal chaos. Who would be to blame? Also, it would
  probably be too expensive to be effectively done by public offices. Stricter
  patent reviews could be used, but will probably take enormous amounts of time
  because of the complexity of the legal aspects. How about passing laws making
  sure some fixed part of the settlement / fine sums goes to the state? Sure,
  there would be less suing for patent infringement, but this could encourage
  companies to take even lighter on patent infringement.
</p>
<p>
  There are two measures which, in combination, I believe could solve at least
  part of the problem. They are based on the assumption that there are two ways
  to know whether project X will infringe on a patent: Intricate knowledge of
  any patents in the same and bordering business areas, and actually seeing a
  product which is very similar to the expected result of the project. The first
  is problematic because of the enormous amount of work involved to get a legal
  approval before the project is finished. The resources are always limited, and
  projects normally evolve from their initial plan. The second I believe to be
  much easier in the general case: Take a look at finished products, and see if
  they already share key features with the expected result of the project. Based
  on this, I propose that either of the following must hold to make company A
  win a patent infringement case against company B:
</p>
<ol>
  <li>
    Company A must prove that, at the time company B's product was in the
    stores, it was planning to produce, already producing, or in the process of
    selling a product utilizing the patent.
  </li>
  <li>
    It must be proven that company B somehow knew, or for some obvious reasons,
    should have known, about the patent.
  </li>
</ol>
<p>
  In other words, unless company A was in the process of making any product
  based on a patent, it shouldn't be able to stop other companies from creating
  such a product. This would make sure that companies cannot buy patents to
  stifle the production of something revolutionary, thus holding back
  innovation. Also, if there is no reason to believe that company B knew of the
  patent, they shouldn't be punished afterwards.
</p>
<p>
  It should be noted that if company A discovers that company B is infringing on
  their patent while in the planning, production, or sale period, they should
  send a "cease and desist" letter to company B, stating the relevant patent
  number and some kind of indication that planning, production, or sale is in
  process. If company B chooses to ignore this, it is clear that they have
  broken point 2 above, and so could be successfully sued.
</p>
<p>
  As a nerd, I also have to suggest a technical solution: RDF, or
  <a href="https://www.w3.org/RDF/">Resource Description Framework</a>. In
  short, it can be used to enable computer reasoning about complex,
  human-related themes. Basically, it defines relationships between generally
  atomic parts of data, and also about the relationships themselves. The point
  is that this could possibly be used to formalize and query patents. You could
  specify key concepts about something you are planning to produce, and the
  system would (by means of logical inference) return any infringing patents,
  explaining which parts of the patents are relevant. This is much more than a
  plaintext search (à la Google) can achieve, because it doesn't just work in
  the words themselves, but their meaning.
</p>
