---
title: Tire shopping in the Geneva / St. Genis area
categories:
  - shopping
tags: []
author: Victor Engmark
---

<p>For those only interested in the result, please skip to the last table.</p>

<p>
  So, the time for winter tires has finally come. As a clueless car newbie, I
  asked someone with very long experience at Northern Norwegian roads, and was
  adviced to take a look at Michelin. With this and the current tire dimensions
  (205/55R15) I had a look at a few of the shops in Saint Genis. The results
  were as follows (all prices <em>should</em> be including VAT, mounting on
  wheel, and calibration):
</p>
<table border="0">
  <tbody>
    <tr>
      <th>Shop</th>
      <th>Where</th>
      <th>W/wheel</th>
      <th>W/O wheel</th>
    </tr>
    <tr>
      <td>Citroën</td>
      <td>St. Genis</td>
      <td>N/A</td>
      <td>€152.98</td>
    </tr>
    <tr>
      <td><a href="https://www.points.fr/">Point S</a></td>
      <td>St. Genis</td>
      <td>€206.72</td>
      <td>€156.82</td>
    </tr>
  </tbody>
</table>
<p>
  During this walk, I had a look in VIMA as well. There I was told that the
  winter tires did not necessarily have the same dimension as the summer tires.
  So I went home and checked the all-knowing World Wide Web. One of the first
  things I came up with was a reference in a newsgroup posting to the website of
  <a href="https://www.tirerack.com/">The Tire Rack</a>. This site seemed to be
  teeming with information, and I could readily find what sizes other drivers
  were using for their SAAB 9000s. According to my search criteria, the
  <a
    href="https://www.tirerack.com/tires/SelectTireSize.jsp?autoMake=Saab&autoModel=9000CSE&autoYear=1997&autoModClar="
    >original configuration</a
  >
  seemed to be 205/60/15, so I used this for searching further. It seemed that
  Michelin Pilot Alpin PA2 (<em>Update: sorry, the link is dead</em>) was very
  popular amongst previous owners, so I went with that. Now was the time to
  check on the shops again. I called the ones I had been to previously (except
  VIMA), and found a nice list of
  <a href="http://www.pneuweb.ch/canton/GE/GE.htm" data-proofer-ignore
    >Geneva (Genevose? Genevan?) tire retailers</a
  >. The results were as follows (same conditions as the previous table;
  exchange rate €1 = CHF1.55):
</p>
<table border="0">
  <tbody>
    <tr>
      <th>Shop</th>
      <th>Where</th>
      <th>W/wheel</th>
      <th>W/O wheel</th>
    </tr>
    <tr>
      <td>Citroën</td>
      <td>St. Genis</td>
      <td>N/A</td>
      <td>€140.38</td>
    </tr>
    <tr>
      <td><a href="https://www.points.fr/">Point S</a></td>
      <td>St. Genis</td>
      <td colspan="2">No answer</td>
    </tr>
    <tr>
      <td>Garage Pelletier</td>
      <td>St. Genis</td>
      <td>€246.00</td>
      <td>€198.00</td>
    </tr>
    <tr>
      <td>Speedy Auto Service</td>
      <td>Carouge</td>
      <td>€209.68</td>
      <td>€143.55</td>
    </tr>
    <tr>
      <td><a href="https://www.euromaster.ch/">Euromaster</a></td>
      <td>Balexert</td>
      <td>€178.06</td>
      <td>€110.32</td>
    </tr>
    <tr>
      <td><a href="https://www.adam-touring.ch/">Adam Touring</a></td>
      <td>Geneva</td>
      <td>€187.10</td>
      <td>€135.48</td>
    </tr>
    <tr>
      <td>Touspneus</td>
      <td>Geneva</td>
      <td>€176,77</td>
      <td>€127,74</td>
    </tr>
  </tbody>
</table>
<p>
  It should be noted that this is naturally a small subset of the available tire
  vendors in the Geneva / Saint Genis area, that the exchange rate of swiss
  francs may be off a bit, that none of the prices have been "verified" in any
  way, and that this only regards two very specific tires. However, it should be
  clear to anyone that you may save quite a lot by checking with several
  retailers.
</p>
