---
title: Sex & violence on the 'net
categories:
  - Internet
  - politics
tags: []
author: Victor Engmark
---

<p>
  Context: <a href="https://slashdot.org/">Slashdot</a> recently featured an
  article entitled "<a
    href="https://yro.slashdot.org/story/04/11/19/236254/internet-porn-more-addictive-than-crack-senate-told"
    >Internet Porn More Addictive Than Crack, Senate Told</a
  >". As is usual on Slashdot, the most interesting part of the articles are the
  comments from the readers, often extending to tens of pages of political,
  religious, and technical debate. Sure, most people seem to be left-leaning
  nerds, but everyone gets to say their piece. Back to the article, it touches
  the highly controversial theme of how "computerized" sex and violence
  influence people of all ages, and whether and how it should be controlled. I
  started on a new comment at Slashdot, but realized that it had slid into being
  quite off-topic, so instead I'll post it here. Comments are welcome, but
  please note:
</p>

<ul>
  <li>Be nice, even if you disagree.</li>
  <li>Please don't quote out of context.</li>
  <li>
    If you can, back up any straight-out medical claims with links to articles
    published in acknowledged journals.
  </li>
</ul>
<p>Now for the contents...</p>
<p>
  Sex is good. Violence is bad. Anything combined with violence is bad, even
  sex. It's that easy. For the picky, I probably should mention that I am of
  course thinking about the kind of violence that happens without the consent of
  the person in question. Piercing, tattooing, S&M, legal boxing, and the like
  are therefore not included.
</p>
<p>
  Now we get to the really difficult question: What are the effects of exposing
  people to sexual and/or violent material?
</p>
<p>
  Speaking for my (obviously statistically freaky) self, see the two following
  paragraphs.
</p>
<p>
  I've played tons of blood'n'gore FPSes, watched loads of heavily violent
  movies, and frequently listen to music promoting violent actions (relevant
  favorites include Grand Theft Auto (<em>Update: sorry, the link is dead</em>),
  Silent Assassin (<em>Update: sorry, the link is dead</em>),
  <a href="https://www.imdb.com/title/tt0137523/">Fight Club</a>, Army of
  Darkness (<em>Update: sorry, the link is dead</em>), Marilyn Manson (<em
    >Update: sorry, the link is dead</em
  >), and Clawfinger). Even so, I've never been in a fight with another physical
  human being. In fact, I abhor violence of any kind, and won't even serve
  military service since I can avoid it.
</p>
<p>
  Before switching to a non-sucky browser (Firefox), I've seen my share of
  pop-ups with actions I wouldn't like to perform, but what the hey, whatever
  gets you going (so long as it doesn't hurt anyone, physically or mentally,
  directly or indirectly).
</p>
<p>
  I believe that Internet porn has two very different sides to it: The bad, in
  which people are forced or coaxed into performing actions against their will,
  or pictures believed to be private are submitted to public pages. The good,
  which I believe most of us know, and is used by people for inspiration,
  entertainment, outlet, discussion, getting serious information, etc.
</p>
<p>
  A perhaps more controversial point: Children are going to get exposed to both
  sex and violence while growing up. This is something you can't avoid without a
  complete bereaving of their freedom, something which would probably be much
  more harmful. So tell them what they are seeing and hearing. Explain that
  performing an act of violence is bad, that sex is good but age limited, and
  what they should do if they ever get into contact with a child molester. I
  don't believe it is necessary to put a lot of fear into the discussion,
  children are usually defenseless against an adult in any case. More important
  is to stress which situations they should avoid, and that they must tell their
  parents about any such episodes. E.g., Internet chats with strangers in which
  meetings are requested, grown-ups undressing or touching the children when
  alone with them, and other. It's a complicated subject, so try to make it easy
  to understand. Another important point: IIRC, most child molesters are family
  members or close friends of the family, and even teenagers below the legal age
  have been found to be rapists. Still, be very careful to get the facts right
  before discussing the matter outside the four walls of the home, as even a
  rumor is enough to throw a person's life into hell and worse.
</p>
<p>
  Then again, this is probably something any parent has already thought about.
</p>
<p>
  And last, a request for anyone providing news to the public: Don't use the
  phrase "sex offender"! If someone has had sex with another person without
  his/her consent, it's the act of constraining that person's freedom and
  harming the person that is the point, not the sexual part of it. It's called
  rape, not sex. Euphemisms won't make the act any less hideous, and only serves
  to introduce ambiguity. You wouldn't call a thief a "house offender", or a
  murderer a "knife offender".
</p>
