---
title: Do blogs matter?
categories:
  - blogging
tags: []
author: Victor Engmark
---

<p>
  2002: -What's a "blogg"?<br />

  2003: -You're kidding, right? Why would I want to read the random musings of
  14-year-olds?<br />
  2004: Dammit! I most definitely should have followed it (<em
    >Update: sorry, the link is dead</em
  >)...<br />
  2005: Thank £\/(|{ for RSS!
</p>
