---
title: Constantine - The real story
categories:
  - entertainment
tags: []
author: Victor Engmark
---

<p>
  Constantine, the newest in a series of graphic novels going to the cinema, is
  the longest anti-smoking advertisement I've ever seen. There you go. It's
  probably the first movie ever to have the surgeon general as the main sponsor,
  as they constantly fire away cheap shots at how bad and just plain stupid
  smoking is. Even the horrible, horrible last scene is devoted to the evils of
  smoking.
</p>

<p>
  I guess it's like Jar-Jar to die-hard Star Wars fans - it just destroys the
  whole image. There should be an oath for movie directors, where they solemnly
  swear to keep true to the original.
  <a href="https://en.wikipedia.org/wiki/Hellblazer">Hellblazer</a> is a dark
  horror series, and should be set into motion picture just as such. In the
  movie, there is hope even from the beginning, and of course it is fulfilled*.
</p>
<p>
  A small disclaimer I believe is also in place: I have never smoked anything,
  and I'd love to be able to have a night out without smelling like $#!7
  afterwards. But this movie - it's just too much.
</p>
<p>
  * There is more to it, but hey, I'm not trying to spoil the entire film for
  you.
</p>
