---
title: Catch 22 in an email only world
categories:
  - bugs
  - bureaucracy
  - software
tags: []
author: Victor Engmark
---

<p>
  After playing through
  <a href="https://www.half-life.com/en/halflife2">Half-Life 2</a>, I had a look
  at the
  <a href="https://steamcommunity.com/discussions/">Steam forums</a>
  to check out the pending bugfixes, screenshots, and wallpapers. Some of the
  posts warranted a reply, so I went to the registration page and submitted the
  necessary data.
</p>

<p>
  Afterwards, I was able to log in. But I couldn't post anywhere. The error
  message just said
  <q
    >the administrator may have disabled your account, or it may be awaiting
    activation</q
  >.
</p>
<p>
  Since I hadn't had the chance to use my account yet, I naturally inferred that
  the account was not activated yet, but that was strange for several reasons:
</p>
<ul>
  <li>
    I could log in (even though nothing changed except for showing my user name)
  </li>
  <li>I couldn't remember having seen a message about any validation email</li>
  <li>
    The two email fields seemed quite useless if it had to be validated manually
    anyway
  </li>
  <li>
    The registration form already uses scrambled images to protect against bots
  </li>
</ul>
<p>
  So I tried looking around in the FAQ, the support pages, and the forums. Nope.
  Nobody seems to have this problem. Of course, if someone have the same
  problem, they will not be able to post about it.
</p>
<p>
  Ah well. So back to the basics: contact Valve directly. I sent an email
  yesterday, December 5, I just hope they answer it properly.
</p>
<p>Update 2005-01-11: I still haven't received an answer.</p>
<p>By the way: The game is f-ing awesome.</p>
