---
title: Wisdom teeth removal, last part (I swear)
categories:
  - health
tags: []
author: Victor Engmark
---

<p>The pain blog is finished. About time, too! Just to sum up:</p>

<ul>
  <li>All four wisdom teeth were removed, in one setting</li>
  <li>I munched painkillers for 10 days afterwards</li>
  <li>Last I could taste the clove was yesterday</li>
  <li>I fucking hate clove!</li>
</ul>
