---
title: WYSIWWTYL
categories:
  - open source
  - work
tags: []
author: Victor Engmark
---

<p>
  WYSIwhat? What You See Is What We Thought You'd Like, which was coined by a
  colleague of mine today. It's just such a brilliant way of summarizing one of
  the biggest usability problems of web sites and applications: Layout and
  functionality is static.
</p>

<p>
  But the situation is changing (as always). For-profit companies are revealing
  their APIs (<a href="https://www.flickr.com/services/api/">Flickr</a>,
  <a href="https://code.google.com/">Google</a>), allowing users to create their
  own tools and plugins dragging functionality from otherwise separate web
  services. Javascript support is getting universal enough to enable stuff like
  drag-n-drop (<em>Update: sorry, the link is dead</em>),
  <a href="https://www.kryogenix.org/code/browser/sorttable/"
    >sorting without reloading data</a
  >, fading (<em>Update: sorry, the link is dead</em>), resizing input fields
  (<em>Update: sorry, the link is dead</em>), expandable lists (<em
    >Update: sorry, the link is dead</em
  >), drop-down menus (<em>Update: sorry, the link is dead</em>),
  <a href="https://www.blogger.com/">graphical editors</a>, and lots more which
  has so far been outside the realm of cross-browser web pages. Free, open
  source applications are becoming a reasonable alternative to closed source
  (and often expensive) software (<a href="https://www.linux.org/">Linux</a> vs
  <a href="https://www.microsoft.com/">Windows</a>,
  <a href="https://www.openoffice.org/">OpenOffice</a> vs.
  <a href="https://www.office.com/">MS Office</a>,
  <a href="https://www.gimp.org/">GIMP</a> vs.
  <a href="https://www.adobe.com/products/photoshop.html">Photoshop</a>,
  <a href="https://www.mozilla.org/en-US/firefox/products/">Firefox</a> vs.
  Internet Explorer (<em>Update: sorry, the link is dead</em>), etc.), and most
  of them are highly extensible and customizable by design. Greasemonkey (<em
    >Update: sorry, the link is dead</em
  >) is a perfect example, allowing users to effectively control the layout,
  content, and functionality of any site from home.
</p>
<p>
  As always, I remain convinced that it'll only get better. The net sure is an
  interesting place, these days!
</p>
