---
title: Wisdom teeth removal, part 2
categories:
  - health
tags: []
author: Victor Engmark
---

<p>Day two...</p>

<p>
  Woke up thrice this night (02:46, 04:XX, 07:47), but I guess mostly because of
  the coffee beans in the ice cream :) Finally got up, and had only a small
  ache. Had a Brufen, a yoghurt with honey (yummy Greek dessert), some water and
  ice cream for breakfast. No bread, cheese, croissants, juice, coffee, eggs, or
  other stuff that might mess up the treatment.
</p>
<p>
  Watched the last part of the Lord of the Rings, and went to see the dentist.
  Had a Brufen underway. He pulled out some cloth he had lain in the cavities of
  two of the wisdom teeth (presumably to hinder the bleeding), then the area was
  flushed with the same disinfectant I got yesterday, but using a suction device
  to remove it immediately. Then he stuffed something which he said was an
  ancient medicine, made from a flower, into the two holes he'd just uncovered.
  I didn't recognize the German or French word for it, but I believe it was
  carnation, because it tasted strongly of clove. It was all done in about five
  minutes.
</p>
<p>
  I was told I could eat hot meals again, but I should continue with the Brufen
  and the thinned-out Drossadin antiseptic mouth-wash (which I didn't mention in
  the previous blog entry). Home-made cauliflower soup never tasted so good :-)
</p>
