---
title: "Re: Comments on del.icio.us illogical interface 2005-09-25"
categories:
  - bugs
  - fil.tero.us
  - software
  - website
tags: []
author: Victor Engmark
---

<p>
  These are my answers to two comments regarding the del.icio.us illogical
  interface:
</p>

<blockquote>
  <p>
    I would say regarding Joshua's comment, that nobody uses an intersection,
    because it is *too hard* to use from del.icio.us, and very few people have
    figured it out! Not having logical operators makes it very difficult to
    search your own bookmarks, let alone those of others. It is difficult to
    replace your bookmark folders with tags. Logical operators can of course,
    substitute for and extend a hierarchy (the "and" operator alone implements a
    hierarchy). Another question: if there are no spaces in tags, how can
    someone search on say "Gulf of Mexico"? Adding "of" as a tag totally defeats
    the purpose of tagging. Semantically, "of" and "Mexico" pretty much are
    unrelated to "Gulf of Mexico". I see that some people have been using
    underscores - this isn't really documented anywhere, and is a real hack, to
    overcome this lack of basic functionality. If semantic tagging is to prove
    useful, this must be implemented somehow ...
  </p>
</blockquote>
<p>
  Regarding the tag search on del.icio.us, I think Joshua has a valid point in
  noting that current users rarely use intersection searches. However, because
  of the open API, other sites can implement whatever they find lacking, and
  this may in turn be incorporated into del.icio.us. I also think it was a
  stroke of genious to use only the space character as a tag separator, and
  leave everything else for the tags. That way, nobody has to learn escape
  sequences, and every conceivable special character can be used as the user
  wants. Finally, according to the del.icio.us blog (<em
    >Update: sorry, the link is dead</em
  >), it doesn't seem like he's resting on his laurels. Maybe we'll see this in
  some future version.
</p>
<p>
  About tagging stuff like the "Gulf of Mexico", the solution is the reason for
  both the popularity and some problems of folksonomies: You get to decide! The
  best solution for someone living in Northern Norway might be "GulfofMexico",
  "gulf_of_mexico", or any other fully readable tag, to be easily found again
  upon browsing the tag list. For someone very familiar with the Gulf of Mexico,
  "gom", or even "gm", may be good enough, and certainly easy to use for tag
  searches. AFAIK, del.icio.us doesn't at this moment have any mechanism to
  overcome the obvious problems with this, but I expect it can be solved with
  e.g. synonym lists, which users can subscribe to. This way, professors in high
  energy physics may use their own terms when tagging, and laypeople may search
  their bookmarks using terms familiar to them due to the synonyms.
</p>
<blockquote>
  <p>
    I just posted this page to del.icio.us. The tags included: logical operators
    and or not xor exclusive or... now, how could one find a link for "exclusive
    or" but not "not exclusive"? Or how useful are "and" "or" and "not" as tags?
    del.icio.us as far as the concept of semantic tagging goes, is a wonderful
    new meme, but it has just that much further to go. I can forsee that Google
    perhaps will pick up the concept of tagging and social bookmarking together,
    and be successful at it, if it isn't implemented by del.icio.us. I hear that
    del.icio.us is very popular in the academic community - papers are
    categorized by keywords, in bibliographic entries, in sites such as in
    Entrez PubMed. But how can academics really use this without the full
    functionality? Of course, I'm sure that you get all the results of the tag
    query, and then filter them locally. This is extremely inefficient of
    course, and filtering on the backend of del.icio.us would reduce traffic
    tremendously.
  </p>
</blockquote>
<p>
  Most of the time, using underscores, InitCaps, or acronyms is "good enough".
  <a href="https://flickr.com/">Flickr</a> pretends to support spaces in tags,
  but for my part this has never worked. An idea would be to use the Enter
  character for a delimiter, but I suspect that would be a problem when
  accomodating how different platforms encode it (\n, \r, or \r\n), and in that
  it would mean using text boxes instead of the leaner & meaner text field for
  input.
</p>
<p>
  Regarding the d.i.i. filtering: It downloads all the bookmarks of the user
  upon login*, and searches that instead of querying the del.icio.us server.
  This is convenient for me, for several reasons:
</p>
<ul>
  <li>
    It provides an easy way to backup bookmarks on a regular basis (you can
    access and copy the XML files (<em>Update: sorry, the link is dead</em>)
    directly).
  </li>
  <li>I can filter the whole lot using XSLT.</li>
  <li>The d.i.i. will work even if del.icio.us goes down or out of service.</li>
</ul>
<p>
  This behavior might change later; I'm planning to enable searching all users,
  and this will mean downloading the results of several searches, and then doing
  the necessary picking and choosing.
</p>
<p>
  *Only if a correct password has been given, and the local bookmarks file is
  older than six hours
</p>
