---
title: Introduction to PL/SQL posts
categories:
  - PL/SQL
  - software
  - work
tags: []
author: Victor Engmark
---

<p>
  At the
  <acronym title="European Organization for Nuclear Research">CERN</acronym>
  <acronym title="Technical Support department">TS</acronym>/<acronym
    title="Controls Safety & Engineering Databases group"
    >CSE</acronym
  >/<acronym title="Quality Assurance, Methodology and Support section"
    >QMS</acronym
  >
  and
  <acronym title="Engineering Database Support section">EDS</acronym> sections
  we use CAST SQL Builder (<em>Update: sorry, the link is dead</em>) and
  <a href="https://benthicsoftware.com/">Benthic</a> Golden / PLEdit for
  <acronym title="Procedural Language/Structured Query Language"
    >PL/SQL</acronym
  >
  development on our Oracle 9i database, to provide engineers and managers with
  the necessary tools for follow-up of the planning, construction, installation,
  maintenance, and, ultimately, deconstruction of the
  <acronym title="Large Hadron Collider">LHC</acronym> particle accelerator.
</p>

<p>
  The main tools are called
  <acronym title="Engineering Data Management Service">EDMS</acronym> and
  <acronym title="Manufacturing and Test Folder">MTF</acronym>. They are both
  web based, and work as a common layer on top of two separate
  <acronym title="Computerized Maintenance Management System">CMMS</acronym> /
  <acronym title="Enterprise Asset Management">EAM</acronym> systems, Axalant
  and Datastream 7i (formerly MP5).
</p>
<p>
  I'll be posting stuff on this blog which may be of interest to those using the
  same products/languages, if nothing else because it allows me to go back and
  look for the old war stories at a time when database development will finally
  be as easy as it should be.
</p>
