---
title: "Re: Bug #1 in Ubuntu"
categories:
  - bugs
  - Linux
  - open source
  - software
  - Windows
tags: []
author: Victor Engmark
---

<p>
  <a href="https://ubuntu.com/">Ubuntu Linux</a> has become very popular in the
  open source community in only two years, last confirmed by the
  <a
    href="https://www.linuxquestions.org/questions/2005-linuxquestions-org-members-choice-awards-69/"
    >2005 LinuxQuestions.org Members Choice Awards</a
  >. But being number one in a community of computer literates, nerds, and geeks
  is not enough to gain a significant market share, as shown by their
  <a href="https://launchpad.net/ubuntu/+bug/1">#1 bug</a>, entitled "Microsoft
  has a majority market share".
</p>

<p>
  So here's a couple of cents worth of musings on why open source (and
  especially Linux) is not much used, what can be done about it, and where it's
  headed.
</p>
<h3>Ignorance, or being stuck with what you've got</h3>
<p>
  AKA, "users don't know that there are alternatives." This is a popular reason,
  but I believe it is a bit off the mark: Users don't know that there exists
  alternatives which are both <em>free and good</em>. Most people believe there
  is no such thing as a free lunch, and free (as in speech <em>and</em> beer)
  sounds dubious to people who have learned not to trust anything on the
  Internet.
</p>
<p>
  The "family nerd", the poor soul which has to fix everybody's computer
  problems, has become the forerunner in this mission, because of the empirical
  evidence of security, stability and usability of some brilliant new software.
  Already it seems
  <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a> is spreading
  around like a wildfire, helped by a host of
  <a href="https://addons.mozilla.org/extensions/">extensions</a> such as
  AdBlock (<em>Update: sorry, the link is dead</em>) and SessionSaver (<em
    >Update: sorry, the link is dead</em
  >), the latest of which will be part of Firefox 2.0.
</p>
<p>
  The trench wars on the legality of file sharing has also sparked a lot of open
  source development, such as RevConnect (Direct Connect client;
  <em>update: sorry, the link is dead</em>) and
  <a href="https://sourceforge.net/projects/azureus/">Azureus</a> (BitTorrent
  client). These can easily replace the old way of having to jump through
  elaborate web page hoops to download free software and media files, from web
  pages you don't know whether to trust or not. With
  <abbr title="peer to peer">P2P</abbr> software, trust is like viral marketing:
  If something is popular (i.e., many people are sharing / downloading the same
  files), it's probably good stuff. That's also part of the beauty of open
  source: Since the program and source code is scrutinized by many, any
  malicious behavior by the developers is likely to be detected, discussed, and
  resolved, either by a
  <a href="https://en.wikipedia.org/wiki/Fork_%28software_development%29"
    >forking</a
  >
  of the code or by massive abandon by the users. Closed vs. open source
  security is a much too big discussion to take on here, suffice to say that
  both camps have released software with horrible bugs.
</p>
<h3>Laziness, or work space pragmatics</h3>
<p>
  AKA, "users don't want to learn something new." Also not completely true:
  Users are, for the most part, primarily interested in getting the work done.
  If Microsoft Office was as broken as Internet Explorer, users would be
  downloading <a href="https://www.openoffice.org/">OpenOffice.org</a> in
  droves, but as it turns out, current (and older) word processing and email
  programs are more than adequate for the common user. Hell, I could probably be
  using WordPerfect at work without anybody noticing.
</p>
<p>
  When your primary goal is to get a bunch of bulleted lists in a presentable
  format in two hours, it is hardly pragmatic to start thinking about whether
  you'll be able to view that same presentation in five years, or convert it
  into a PDF file in a flash. And from what I've heard and read, a lot of people
  seem to think that keeping to the same level as everybody else is the optimum.
  Hacking the system to make it conform to your work style will invariably break
  it sometimes, and that is likely to be more visible than the x% overall
  productivity gain.
</p>
<p>
  Openness not usually considered, don't want to "fiddle" with system settings;
  developers don't want to put in the extra effort to make software
  cross-platform
</p>
<h3>Stupidity, or not thinking (far) ahead</h3>
<p>
  Except among nerds and geeks, the freedom of open source software seems to be
  ignored. It's difficult to find good analogies, but that won't stop me from
  trying: Food. "Closed source food" would be sold without ingredient or
  nutrition descriptions (source code & bug databases), it would be physically
  addicting (vendor lock-in mechanisms), and you would not be allowed to share
  it, take it with you to a new kitchen or eat it at work (license).
</p>
<p>
  Other points, which are not inherent in closed source, but seem to be the norm
  in the industry: It would be sold in sealed boxes (retail distribution),
  nobody actually producing it would be available for help (customer support),
  for the most part you would have to use special cutlery (OS / hardware) for
  it, and every so often your recipes incorporating this food would go haywire
  (incompatible upgrades, bad standards support).
</p>
<p>
  Open source food, on the other hand, would come with a recipe for how to make
  your own (source code), virtually no expiration date (license allows for
  porting), and often free help with your recipes (community support).
</p>
<p>
  OpenDocument is a great example of the superiority of open source: If you
  uncompress an OpenOffice.org Writer file, you'll find the original images,
  application settings, contents, and text styles in separate files. If you want
  to change some detail in the text or an image, you can manipulate the file in
  a suitable editor, and then compress the files again to have a fully working
  document. Most of the files are XML, so you can also automate data collection
  or manipulation in several documents easily. No such luck with Microsoft Word:
  Everything is saved in a proprietary, secret, binary format, which the
  OpenOffice.org team has used years to decipher, in order to be able to import
  MS Office documents.
</p>
