---
title: More practical HTTP Accept headers
categories:
  - HTTP
  - Internet
  - standards
  - web development
tags: []
author: Victor Engmark
---

<p>
  Isn't it time for user agents to start reporting more fine grained which
  standards they support? The HTTP Accept header doesn't provide enough
  information to know whether a document will be understood at all, and can lead
  to quite a few hacks, specially on sites using cutting edge technology, such
  as SVG or AJAX.
</p>

<p>
  For an example, take a look at the correspondence between the Firefox 1.5.0.1
  Accept header (text/xml, application/xml, application/xhtml+xml,
  text/html;q=0.9, text/plain;q=0.8, image/png, */*;q=0.5) and the support level
  reported at Web Devout's
  <a href="http://www.webdevout.net/browser-support" data-proofer-ignore
    >Web browser standards support</a
  >
  page or Wikipedia's
  <a href="https://en.wikipedia.org/wiki/Comparison_of_web_browsers"
    >Comparison of web browsers</a
  >.
</p>
<p>
  Say that I want to serve a page with some SVG, MathML, CSS2/3, and AJAX
  functionality. Each of these requires different hacks to ensure that
  non-compliant browsers don't barf on the contents. For SVG and MathML, I can
  use CSS to put the advanced contents above the replacement images, or use e.g.
  SVG to provide replacement text. Both methods increase the amount of contents
  sent to the user agent, and are not really accessible - Non-visual browsers
  get the same information twice.
</p>
<p>
  For CSS, countless hacks have been devised to make sure sites display the same
  in different browsers. So the user agent always receives more information than
  it needs.
</p>
<p>
  AJAX needs to check for JavaScript support, then XMLHttpRequest support, and
  then must use typeof to switch between JS methods. This can easily triple the
  length of a script.
</p>
<p>
  What if browsers could negotiate support with the server using e.g. namespace
  URIs, where these would reference either a standard, part of it, or some
  pre-defined support level? Poof, SVG 1.1 Tiny 95% supported, CSS 3 10%
  supported, DOM level 2 80% supported, etc..
</p>
<p>
  Obviously, the Accept header would be much longer, but the contents received
  could be reduced significantly. Also, I believe it would be easier for
  developers to use only Accept header switching than learning all the hacks
  necessary for modern web development.
</p>
<p>
  I don't really know if this is possible, but maybe this kind of Accept header
  could be separated into a special HTTP reply. This would contain the URIs of
  the potential contents, and the user agent would send a new HTTP GET request
  with the modified Accept header, reporting the support levels.
</p>
<p>
  <em>Note</em>: This post is the same as sent in reply to an
  <a
    href="https://lists.w3.org/Archives/Public/www-forms/2006Mar/0043.html"
    title="View the email"
    >email</a
  >
  by Allan Beaufour on the
  <a
    href="https://lists.w3.org/Archives/Public/www-forms/"
    title="W3C XForms discussion mailing list archive"
    >www-forms</a
  >
  mailing list of W3C. The text has been slightly modified for legibility.
</p>
<p>
  <em>Follow-up</em>: Added a
  <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=331327">bug report</a>
  for Firefox and a short
  <a
    href="https://en.wikipedia.org/wiki/Composite_Capability/Preference_Profiles"
    >Wikipedia article</a
  >.
</p>
