---
title: Dvorak in rdesktop
categories:
  - keyboard
  - Linux
  - usability
  - Windows
tags: []
author: Victor Engmark
---

<p>
  This article is for anyone who is using the
  <a href="https://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard"
    >Dvorak keyboard layout</a
  >
  on Linux, and having problems getting the same to work when connecting to a
  Windows machine using
  <a href="http://www.rdesktop.org/" data-proofer-ignore>rdesktop</a>.
</p>

<h3>Problems</h3>
<p>
  First, keymaps are just that -
  <abbr title="as far as I know">AFAIK</abbr> they just define a translation
  from the codes sent from the keyboard ("keycodes", e.g. "<code>41</code>" for
  the key marked "F" on a QWERTY keyboard) to a symbolic name ("keysym", e.g.
  "<code>0x66</code>" with US English and "<code>0x75</code>" with Dvorak keymap
  when pressing the key marked "F" on a QWERTY keyboard). The problem in
  connection with rdesktop seems to be that there is a double translation going
  on when both Windows and Linux are set to use Dvorak - "<kbd>asdf</kbd>" on
  QWERTY should become "<kbd>aoeu</kbd>" when using Dvorak, but instead you get
  "<kbd>ar.g</kbd>" in Windows. Argh indeed.
</p>
<p>
  Second, there is no built in Dvorak support in rdesktop. I googled a bit, but
  couldn't find any straight answers for why that is the case. Maybe the
  "market" is just too small, or everyone else figured out the solution with a
  lot less trouble than I had.
</p>
<h3 id="dvorak_solution">Solution</h3>
<p>The only configuration I could get to work is the following:</p>
<ul>
  <li>Linux set up to use Dvorak</li>
  <li>rdesktop set up to use US English (<code> -k en-us</code>)</li>
  <li>Windows set up to use US English</li>
</ul>
<p>
  <strong>Beware</strong> though: Even though you're using the setup above, your
  keyboard map will be messed up if the Windows desktop locks, i.e., if you
  during a session arrive at the login prompt. You should therefore turn off the
  screen saver, and use the Linux screen lock instead.
</p>
