---
title: Is the U.S. evil?
categories:
  - politics
  - statistics
  - USA
tags: []
author: Victor Engmark
---

<p>
  The reputation of the U.S. has been taking a beating for decades now, and even
  more so since a lying adulterer gave up his office to a lying warmonger. Let's
  see if a few search engines can give us an idea of what people think...
</p>

<p>
  Google gives 254 million results for
  <a
    href="https://www.google.com/search?q=usa+good"
    title="Google search for 'usa' and 'good'"
    >good</a
  >
  and 40.9 million results for
  <a
    href="https://www.google.com/search?q=usa+evil"
    title="Google search for 'usa' and 'evil'"
    >evil</a
  >, that is <strong>86% good</strong>.
</p>
<p>
  All right, but that just counts the number of pages. How about del.icio.us,
  pages that people actually read? 2294 results for good (<em
    >Update: sorry, the link is dead</em
  >) and 515 results for evil (<em>Update: sorry, the link is dead</em>), that
  is <strong>82% good</strong>.
</p>
<p>
  Interesting stuff. But in all fairness, Reddit deals a whole lot more with
  news, and should give a better zeitgeist than all the del.icio.us bookmarks
  thrown together. Counting only stories of the last month with a score over 1
  (that is, at least two persons must have voted for the story) gives 2 results
  for
  <a
    href="https://www.reddit.com/search?q=usa%20good&s=highscore&t=month"
    title="Reddit search for 'usa' and 'good'"
    >good</a
  >
  and 8 for
  <a
    href="https://www.reddit.com/search?q=usa%20evil&s=highscore&t=month"
    title="Reddit search for 'usa' and 'evil'"
    >evil</a
  >, that is <strong>20% good</strong>. Ow!
</p>
<p>
  But check out those links! That's not proper news... Unfortunately, the Digg
  search gave no results whatsoever in the "World & business" category for these
  searches, even when searching a whole year, and no useful results in the other
  categories.
</p>
<p>
  Anyway, it's a bit futile to get a semantically correct view. Reference.com's
  thesaurus entry for the adjective "evil" (<em
    >Update: sorry, the link is dead</em
  >) lists "good" among five other antonyms, for a total of six. "Good" (<em
    >Update: sorry, the link is dead</em
  >) has a total of 19 antonyms ("Evil" is only listed in the
  <em>noun</em> definition). So how about we test with "evil" against all the
  other antonyms, "moral", "righteous", "sinless", "upright", and "virtuous"?
</p>
<table style="width: 100%">
  <caption>
    "Evil" versus "moral", "righteous", "sinless", "upright", and "virtuous" in
    search engines
  </caption>
  <thead>
    <tr>
      <th>Site</th>
      <th>Not evil</th>
      <th>Evil</th>
      <th>%Not evil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Google</td>
      <td>
        <a
          href="https://www.google.com/search?q=usa+moral+OR+righteous+OR+sinless+OR+upright+OR+virtuous"
          >39,600,000</a
        >
      </td>
      <td>40,900,000</td>
      <td><span style="color: rgb(130, 125, 0)">49%</span></td>
    </tr>
    <tr>
      <td>del.icio.us</td>
      <td>242 (<em>Update: sorry, the link is dead</em>)</td>
      <td>515</td>
      <td><span style="color: rgb(173, 82, 0)">32%</span></td>
    </tr>
    <tr>
      <td>Reddit</td>
      <td>
        <a
          href="https://www.reddit.com/search?q=usa%20(moral%20OR%20righteous%20OR%20sinless%20OR%20upright%20OR%20virtuous)&s=highscore&t=month"
          >7</a
        >
      </td>
      <td>8</td>
      <td><span style="color: rgb(136, 119, 0)">47%</span></td>
    </tr>
  </tbody>
</table>
<p>
  In plain words, web pages, and bookmarked ones in particular, look a whole lot
  worse when looking for the "moral" antonyms of "evil", while news stories look
  a whole lot better. Who'da thunk? Of course, this method doesn't take into
  account spam and other <span class="swearing">#$@%</span>. In any case,
  <strong>this seems to be a rubbish method for gauging public opinion</strong>.
</p>
<p>No, I don't have a life right now. Thank you, and good night!</p>
