---
title: Job trends in web development
categories:
  - future
  - standards
  - statistics
  - web design
  - web development
  - work
tags: []
author: Victor Engmark
---

<p>
  The job search service <a href="https://www.indeed.com/">Indeed</a> has an
  interesting "trends" search engine (<em>Update: sorry, the link is dead</em>):
  It visualizes the amount of job postings matching your keywords the last year.
  Let's see if there is some interesting information for modern web technologies
  there...
</p>

<h3>
  <abbr title="Extensible HyperText Markup Language">XHTML</abbr> vs.
  <abbr title="HyperText Markup Language">HTML</abbr>
</h3>
<p>
  The relation between XHTML and HTML popularity (<em
    >Update: sorry, the link is dead</em
  >) could be attributed to a number of factors:
</p>
<ul>
  <li>XHTML is just not popular yet (1 Google result for every 19 on HTML).</li>
  <li>The transition from HTML to XHTML is so simple as to be ignored.</li>
  <li>The terms are confused, and HTML is the most familiar one.</li>
  <li>XHTML is thought to be the same as HTML, or a subset of it.</li>
</ul>
<p>
  The XHTML graph (<em>Update: sorry, the link is dead</em>) alone could give us
  a hint as to where we stand: At about 1/100 of the "popularity" of HTML, it's
  increasing linearly. At the same time, HTML has had an insignificant increase,
  with a spike in the summer months (it is interesting to note that this spike
  did <em>not</em> occur for XHTML). XHTML could be posed for exponential
  growth, taking over for HTML, but only time will tell.
</p>
<h3><abbr title="Asynchronous JavaScript And XML">AJAX</abbr></h3>
<p>
  Popularity of AJAX in job offers (<em>Update: sorry, the link is dead</em>) is
  an interesting graph: It grows exponentially, which is likely to be a result
  of all the buzz created by Google getting on the Web 2.0 bandwagon. Curiously,
  the growth rate doesn't match that of the term "web 2.0" (<em
    >Update: sorry, the link is dead</em
  >). Attempting to match it with other Web 2.0 terms such as "<abbr
    title="Really Simple Syndication"
    >RSS</abbr
  >" (<em>Update: sorry, the link is dead</em>), "JavaScript" (<em
    >Update: sorry, the link is dead</em
  >), and "<abbr title="Document Object Model">DOM</abbr>" (<em
    >Update: sorry, the link is dead</em
  >) also failed. The fact that AJAX popularity seems to be irrelevant to Web
  2.0 and even JavaScript popularity is interesting, but I'll leave the creation
  of predictions from this as an exercise for the readers. :)
</p>
<h3><abbr title="Cascading Style Sheets">CSS</abbr></h3>
<p>
  While insignificant when compared to HTML (<em
    >Update: sorry, the link is dead</em
  >), the popularity of CSS closely follows that of XHTML (<em
    >Update: sorry, the link is dead</em
  >). Based on that and the oodles of best practices out there cheering CSS and
  XHTML on, I predict the following: When CSS is recognized for its power to
  reduce bandwidth use and web design costs, it'll drag XHTML up with it as a
  means to create semantic markup which can be used with other XML technologies,
  such as
  <abbr title="Extensible Stylesheet Language Transformations">XSLT</abbr> and
  RSS / Atom.
</p>
<h3>Discussion of conclusions</h3>
<p>
  The job search seems to be only in the U.S., so the international numbers
  <em>may</em> be very different. I doubt that, however, based on how irrelevant
  borders are on the Web.
</p>
<p>
  The occurence of these terms will be slowed by such factors as how long it
  takes for the people in charge to notice them, understand their value /
  potential, and finally find areas of the business which needs those skills.
</p>
<p>
  Naturally, results will be skewed by buzz, large scale market swings, implicit
  knowledge (if you know XHTML, you also know HTML), and probably another 101
  factors I haven't though of. So please take the conclusions with a grain of
  salt.
</p>
<p>
  My conclusions are often based on a bell-shaped curve of lifetime popularity,
  according to an article / book I read years ago. I can't find the source, but
  it goes something like this:
</p>
<ol>
  <li>Approximately linear growth as early adopters are checking it out.</li>
  <li>
    Exponential growth as less tech savvy people catch on; buzz from tech news
    sources.
  </li>
  <li>Stabilization because of market saturation and / or buzz wearing off.</li>
  <li>Exponential decline when made obsolete by other technology.</li>
  <li>Approximately linear decline as the technology falls into obscurity.</li>
</ol>
<p>
  PS: For some proof that any web service such as Indeed should be taken with a
  grain of salt, try checking out the result for
  <a href="https://en.wikipedia.org/wiki/Seven_Dirty_Words"
    >George Carlin's seven dirty words</a
  >
  Relative popularity of George Carlin's seven dirty words in job offers (<em
    >Update: sorry, the link is dead</em
  >) ;)
</p>
