---
title: CAST display bug
categories:
  - bugs
  - closed source
  - PL/SQL
  - software
tags: []
author: Victor Engmark
---

<p>
  CAST SQL Builder for Oracle is normally a very reliable and user friendly
  application, but the current version (5.0 build 1007) has an annoying bug
  which is messing up the display (see the
  <a title="CAST display bug example" href="/assets/images/cast-display-bug.png"
    >attached image</a
  >). In short, it will mess up the position and size of the toolbars and the
  Object Manager, Output, and Tools windows. Restarting the application does not
  help.
</p>

<p>
  I haven't found any pattern in the bug, except that it always appears at least
  a few days after overwriting the .ini file from CVS.
</p>
<p>
  The patch below shows which settings are changed by the bug - I am quite sure
  I haven't changed anything else since the last "patching".
</p>
<!-- prettier-ignore -->
<div>
{% highlight diff %}
102c102
< WindowGeometry=0226 0110 0926 0510 --- > WindowGeometry=0100 0100 0800 0500
319,344c319,344
< STData=0200000040060000B0040000110001E80000010000000000000000000000FFFFFFFFFFFFFFFFFF7F00000000000000001BE8 < STData_1=0000010000000000000001000000FFFFFFFFFFFFFFFFFF7F0000000000001100000000009B130000000000001AC100000000 < STData_2=0000030900000000000099130000000000009A130000000000009813000000000000020900001E090000A280000000000000 < STData_3=1EE80000010000000000000001000000FFFFFFFFFFFFFFFFFF7F0000000000000100000000001CE800000100000000000000 < STData_4=00000000FFFFFFFFFFFFFFFFFF7F00000000000007000000000092130000000000002B13000000000000A413000000000000 < STData_5=1DE80000010000000000000000000000FFFFFFFFFFFFFFFFFF7F0000000000000100000000002B1300000100000000000000 < STData_6=0000000090010000FEFFFFFFFF7F0000010000001CE8000090010000FEFFFFFF24030000A603000004000000FFFFFFFF0000 < STData_7=0000000092130000010000000000000000000000FEFFFFFFFEFFFFFFFF7F00000100000000000000FEFFFFFFFEFFFFFF9201 < STData_8=0000A603000004000000FFFFFFFFFFFFFFFF0000A413000001000000000000000000000022030000FEFFFFFFFF7F00000100 < STData_9=00001CE8000022030000FEFFFFFFB6040000A603000004000000FFFFFFFF0000000000009B13000001000000000000000000 < STData_10=0000FEFFFFFFFEFFFFFFFF7F00000100000000000000FEFFFFFFFEFFFFFFAB0000001E00000004200000FFFFFFFF00000000 < STData_11=00009A130000010000000000000000000000FEFFFFFF76000000FF7F0000010000001BE80000FEFFFFFF76000000C2000000 < STData_12=9600000004200000FFFFFFFFFFFFFFFF000099130000010000000000000000000000FEFFFFFF58000000FF7F000001000000 < STData_13=1BE80000FEFFFFFF58000000770000007800000004200000FFFFFFFF8B040000000003090000010000000000000000000000 < STData_14=FEFFFFFF3A000000FF7F0000010000001BE80000FEFFFFFF3A000000600000005A00000004200000FFFFFFFF000000000000 < STData_15=98130000010000000000000000000000FEFFFFFF94000000FF7F0000010000001BE80000FEFFFFFF94000000C2000000B400 < STData_16=000004200000FFFFFFFFFFFFFFFF0000A2800000000000000000000000000000FFFFFFFF2D000000FF7F0000010000000000 < STData_17=00000000000000000000000000000A00000004200000FFFFFFFF0000000000001E090000000000000000000000000000FFFF < STData_18=FFFF2D000000FF7F000001000000000000000000000000000000000000000000000004200000FFFFFFFF0C00000000000209 < STData_19=0000000000000000000000000000FFFFFFFF2D000000FF7F00000100000000000000000000000000000088A6280B00000000 < STData_20=04200000FFFFFFFF0000000000001AC10000010000000000000000000000FEFFFFFF1C000000FF7F0000010000001BE80000 < SCData=2B130000890200008B00000094010000A8030000C8000000C8000000200600009004000092130000C8000000C80000009401 < SCData_1=0000A8030000C8000000C80000002006000090040000A4130000040500008B00000094010000A8030000C8000000C8000000 < SCData_2=2006000090040000 < Check=1170 < STData_21=FEFFFFFF1C0000009D0100003C00000004200000FFFFFFFF8B0400000000 --- > STData=020000000005000000040000110001E80000010000000000000000000000FFFFFFFFFFFFFFFFFF7F00000000000000001BE8
> STData_1=0000010000000000000001000000FFFFFFFFFFFFFFFFFF7F0000000000000C00000000009B1300001AC10000030900009913
> STData_2=00009A1300009813000000000000020900001E090000A2800000000000001EE80000010000000000000001000000FFFFFFFF
> STData_3=FFFFFFFFFF7F0000000000000100000000001CE80000010000000000000000000000FFFFFFFFFFFFFFFFFF7F000000000000
> STData_4=050000000000921300002B130000A4130000000000001DE80000010000000000000000000000FFFFFFFFFFFFFFFFFF7F0000
> STData_5=000000000100000000002B130000010000000000000000000000FEFFFFFFF2010000FF7F0000010000001CE80000FEFFFFFF
> STData_6=F201000049010000D1020000040000000000008000000000000092130000010000000000000000000000FEFFFFFFFEFFFFFF
> STData_7=FF7F00000100000000000000FEFFFFFFFEFFFFFF49010000F40100000400000000000080FFFFFFFF0000A413000001000000
> STData_8=0000000000000000FEFFFFFFCF020000FF7F0000010000001CE80000FEFFFFFFCF020000490100008C030000040000000000
> STData_9=00800000000000009B130000010000000000000000000000FEFFFFFFFEFFFFFFFF7F00000100000000000000FEFFFFFFFEFF
> STData_10=FFFFAB0000001E00000004200000000000800000000000009A1300000100000000000000000000001D030000FEFFFFFFFF7F
> STData_11=0000010000001BE800001D030000FEFFFFFFE10300001E0000000420000000000080FFFFFFFF000099130000010000000000
> STData_12=000000000000A6020000FEFFFFFFFF7F0000010000001BE80000A6020000FEFFFFFF1F0300001E0000000420000000000080
> STData_13=E003000000000309000001000000000000000000000046020000FEFFFFFFFF7F0000010000001BE8000046020000FEFFFFFF
> STData_14=A80200001E000000042000000000008000000000000098130000010000000000000000000000DF030000FEFFFFFFFF7F0000
> STData_15=010000001BE80000DF030000FEFFFFFFA30400001E0000000420000000000080FFFFFFFF0000A28000000000000000000000
> STData_16=00000000FFFFFFFF26000000FF7F000001000000000000000000000000000000000000000A00000004200000000000800000
> STData_17=000000001E090000000000000000000000000000FFFFFFFF26000000FF7F0000010000000000000000000000000000000000
> STData_18=00000000000004200000000000800A000000000002090000000000000000000000000000FFFFFFFF26000000FF7F00000100
> STData_19=000000000000000000000000000088A6280B0000000004200000000000800000000000001AC1000001000000000000000000
> STData_20=0000A9000000FEFFFFFFFF7F0000010000001BE80000A9000000FEFFFFFF480200001E0000000420000000000080E0030000
> SCData=2B130000890200008B0000004B010000DF000000C8000000C8000000E0040000E003000092130000C8000000C80000004B01
> SCData_1=0000F6010000C8000000C8000000E0040000E0030000A4130000040500008B0000004B010000BD000000C8000000C8000000
> SCData_2=E0040000E0030000
> Check=1105
> STData_21=0000
350c350
< 40491052=0,0,-14,0 --- > 40491052=0,0,-12,0
352,356c352,356
< 7021=-4,-23,1204,1090 < 4049=523,262,1347,901 < 3001=411,131,1595,1149 < 4017=411,131,1595,1149 < 4004=411,131,1595,1149 --- > 7021=-4,-23,957,914
> 4049=406,218,1045,743
> 3001=494,306,1137,835
> 4017=494,306,1137,835
> 4004=494,306,1137,835
358,359c358,359
< 7020=-4,-23,1204,1090 < 4020=411,131,1595,1149 --- > 7020=-4,-23,957,914
> 4020=494,306,1137,835
361,362d360 < 2006=505,302,756,673 < 122=0,38,484,397
{% endhighlight %}
</div>
