---
title: Yet Another JavaScript Focusing Script
categories:
  - JavaScript
  - work
tags: []
author: Victor Engmark
---

<p>
  Check the example page (<em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >) or script if you want to get right to the action.
  <em
    >Update: Unfortunately this site is no longer publicly available. Sorry for
    the inconvenience!</em
  >
</p>

<h3>Context</h3>
<p>
  JavaScript is sort of the Big Bad Wolf at work, and with good reason. The
  system we're working on has been in production since ~1995, the really bad old
  days of browser incompatibilities. The web standard nirvana is not here yet,
  but at least the browsers are now supporting a reasonable subset of
  JavaScript. So a little experimenting is now under way...
</p>
<h3>Problem</h3>
<p>There are two kinds of form focus which are interesting:</p>
<ul>
  <li>
    Being able to focus an element specified by the ID attribute, if it exists
  </li>
  <li>
    Being able to focus the first "input", "select", or "textarea" element which
    is not hidden or disabled
  </li>
</ul>
<p>It would also be nice to specify that these are only relevant providing:</p>
<ol>
  <li>There are no elements with non-default values</li>
  <li>No other element is already focused</li>
</ol>
<h3>Googling</h3>
<p>
  I'm a complete beginner in JavaScript, but there were several scripts out
  there available for the googling. First off I found something to "<a
    href="https://www.codeproject.com/Articles/11586/Set-Focus-to-First-Input-on-Web-Page"
    >Set Focus to First Input on Web Page</a
  >" by John Stanfield. Nice and simple, but only doing half the job. Then an
  <a href="https://www.themaninblue.com/writing/perspective/2005/10/27/"
    >article</a
  >
  and
  <a
    href="https://www.themaninblue.com/experiment/formFieldFocus/scripts/focus_field.js"
    >script</a
  >
  by The Man in Blue seemed to solve the rest. At this point the final
  requirements started to crystallize, as a combination of what either of the
  scripts solved.
</p>
<h3>Solution</h3>
<p>
  After messing about with the scripts a couple hours, I managed to combine
  them. The resulting script has only one entry function, "focus(elementID)",
  which works as follows:
</p>
<ol>
  <li>If the element ID is found, this will be focused</li>
  <li>
    If the element ID is not found, nothing will be focused, effectively
    disabling the script
  </li>
  <li>
    If the "elementID" parameter is unspecified, the first relevant form element
    will be focused
  </li>
</ol>
<p>
  I've only tested the solution in
  <acronym title="Internet Explorer">IE</acronym> 6.0 and Firefox 1.5, but it
  doesn't generate any exceptions in any of them.
</p>
<h3>Problems</h3>
<p>The focus check doesn't work in Firefox.</p>
<h3>Usage</h3>
<p>
  Just include the following in your &lt;head&gt; element:
  <code
    >&lt;script type="text/javascript" src="focus.js"&gt;&lt;/script&gt;</code
  >, and add the following to the "onload" attribute of your
  <code>&lt;body&gt;</code> element: <code>focus('firstname');</code>. Or you
  can just check out the example page.
  <em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >
</p>
<p>
  <strong>Update February 23rd, 2006:</strong> There are some problems with the
  site, which means that an old version of the script is in use, and it doesn't
  work in IE6. Hopefully Nuxit (<em>Update: sorry, the link is dead</em>) will
  be able to fix it soon. Check out the CVS version (<em
    >Update: sorry, the site is no longer publicly available</em
  >) to see the correct contents. Sorry for the inconvenience...
</p>
