---
title: The Bikeshed plugin
categories:
  - communication
  - email
tags: []
author: Victor Engmark
---

<p>
  Here's a wish for a plugin to all the worlds' email writing software:
  Implement the self-policing functionality outlined by Poul-Henning Kamp in his
  brilliant
  <a href="https://www.bikeshed.org/"
    ><q>A bike shed (any colour will do) on greener grass...</q></a
  >. The post is well worth the read, but I'll summarize the ideas:
</p>

<ol>
  <li>
    Warn the user before sending to huge mailing lists or newsgroups - Every
    unnecessary word is hours lost cumulatively (is that a word?).
  </li>
  <li>
    Warn the user before sending to a mailing list or newsgroup where not all
    messages are read - Someone might already have said the same thing.
  </li>
  <li>
    Stop the user from replying to a message if the whole message has not yet
    been shown - You might need to calm down if you're replying before reading
    the whole message.
  </li>
  <li>
    Stop the user from sending a message which has been typed very fast - You
    might want to review that spelling and wording.
  </li>
</ol>
<p>
  Now, if you're still reading I presume you'll humor me while I discuss the
  individial issues. If not, why are you here? ;)
</p>
<p>
  For the first point, I'd use a local database of addresses which could support
  wildcards. Should be simple to implement, and might be extended to support
  central databases of address hashes.
</p>
<p>
  The second one is simple for newsgroups and server-side mailing lists, but
  should be careful to look in all folders when handling client-side email.
</p>
<p>
  I'm not sure I agree with the third one - When handling several issues in the
  same email, I often know that I'll have to reply before reading the rest. But
  it should be simple to implement, and might fit to your particular way of
  handling emails.
</p>
<p>
  The last issue is simple enough to implement, but you'll have to handle stuff
  like cut'n'paste. And of course, the
  <abbr title="characters per second">cps</abbr> or
  <abbr title="words per minute">wpm</abbr> max should be customizable,
  preferably by monitoring the typing speed over time.
</p>
<p>
  So when a newbie, cluebie, idiot, moron, troll, jackass, nutcase, fuckwit,
  asshole, and / or shithead is wasting hundreds of hours of
  <em>other peoples' time</em>, you can tell him / her to <q>Bikeshed it!</q>
</p>
