---
title: Spam punishment calculation
categories:
  - email
  - spam
tags: []
author: Victor Engmark
---

<p>
  When a spammer is caught and convicted, how should you calculate the
  punishment? Here are a few factors to take into consideration:
</p>

<ul>
  <li>These people are doing it for personal gain.</li>
  <li>
    They need to know more about IT than the average person. To earn money from
    it, they probably have to know a lot more.
  </li>
  <li>
    They don't care who is at the other end: Joe Sixpack, Richard Stallman, Kofi
    Annan, or a slum charity with dial up and a 386.
  </li>
</ul>
<p>
  These persons are as far as I can tell willfully imposing time and money costs
  on other people for personal gain, and there is no reason to judge them
  lightly.
</p>
<p>The cost of spam deserves its own list:</p>
<ul>
  <li>
    At the very least, software must be developed continuously to keep up with
    the spammers' methods. This takes time and money.
  </li>
  <li>
    False negatives have to be handled by the end user, by "cleaning" the inbox,
    and reporting the negatives (if possible). This takes time, which often
    implies money.
  </li>
  <li>
    False positives also have to be handled by the end user, but can have very
    serious effects if it's not done often and correctly.
  </li>
  <li>
    The
    <a href="https://en.wikipedia.org/wiki/Parable_of_the_broken_window"
      >parable of the broken window</a
    >
    applies to spam, in that it doesn't create wealth, but drains it to keep
    email usable.
  </li>
</ul>
<p>
  So how do we calculate punishment for spammers? Here are my two cents: All
  that they ever earned by spamming, multiplied by some factor to keep it scary
  enough financially. On top of that, add jail time according to this simple
  formula:<br />
  <strong
    >Average time (for developers and end users) to handle one spam
    email</strong
  >
  times <strong>number of emails</strong> = <strong>Time in jail</strong>.
</p>
<p>
  Of course, since spammers send billions of emails, jail time would probably be
  measured in lifetimes. But consider that we're wasting the best (or at least
  most productive) years of our lives handling this garbage, and that the
  socio-economic impact is comparable to bombing a few towns every few weeks
  (I'd love to see a complete cost calculation for spam, but it's probably too
  international and dispersed to be estimated reliably).
</p>
<p>This post was based on the following "axioms":</p>
<ul>
  <li>
    "Spam" refers to any unsolicited email, useful only to a small minority of
    recipients.
  </li>
  <li>Handling spam, like any other email, takes time.</li>
  <li>
    Because of the sheer volume of spam vs. solicited email, it is necessary to
    keep the filters' efficiency high, even as spammers are developing new ways
    to circumvent them.
  </li>
  <li>
    Spamming is <em>not</em> freedom of speech. They wouldn't be sent if they
    had a cost comparable to snail mail.
  </li>
</ul>
