---
title: "Reader's Diggest*: A New Kind of Science, by Stephen Wolfram"
categories:
  - book
tags: []
author: Victor Engmark
---

<p>
  <a href="https://en.wikipedia.org/wiki/Cellular_automaton"
    >Cellular automata</a
  >
  can produce patterns which could some day be useful to most of the sciences.
</p>

<p>
  *This is a new series of posts in which I'll summarize a book in one sentence.
  I hope you'll find it useful in case you're thinking about reading the book,
  and I'd love to read your own summaries.
</p>
