---
title: iPod display bug in software version 1.1
categories:
  - bugs
  - iPod
  - software
  - Windows
tags: []
author: Victor Engmark
---

<p>
  The newest software update for the iPod video has broken part of the playback
  functionality.
</p>

<h4>How to trigger the bug</h4>
<ol>
  <li>
    Use the iPod Updater (<em>Update: sorry, the link is dead</em>) to install
    software version 1.1
  </li>
  <li>Start playback of music</li>
  <li>Double click the center button (quickly) to go to the rating display</li>
  <li>Single click the center button</li>
</ol>
<h4>Bug nature</h4>
<p>
  After the last click, you will see the rating display again, instead of the
  music progress bar. The wheel, however, will work as if you were back to the
  primary page - It will change the volume.
</p>
<p>
  The result is that the rating display will "overlay" the other displays, even
  if the controls work as they would if the correct pages had been displayed.
</p>
<p>
  To get out of the rating display, just single click the center button until
  you see the music progress bar again.
</p>
<h4>Other information</h4>
<p>
  Platform: PC with Windows XP<br />
  Updater version: 2006-01-10<br />
  iPod model: 30 GB video (MA146LL/A)
</p>
