---
title: Tesla Roadster vs. SAAB
categories:
  - cars
  - economy
  - energy
tags: []
author: Victor Engmark
---

<p>
  Since I first found the website of the
  <a title="Tesla Motors" href="https://www.tesla.com/">Tesla Roadster</a>, the
  electric supercar has never been far from my thoughts. It's about time I got
  to making some calculations of just <em>how</em> far this dream is from
  reality. Don't worry, there are anyways too many
  <a href="https://en.wikipedia.org/wiki/Confounding_factor"
    >confounding factors</a
  >
  for this to be really serious.
</p>

<table border="0">
  <caption>
    SAAB 9000 2.0 CSE fuel efficiency
  </caption>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Value</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><abbr title="Liter">L</abbr>/100<abbr title="kilometer">km</abbr></th>
      <td>9.5</td>
      <td>According to the dashboard, not calculations</td>
    </tr>
    <tr>
      <th><abbr title="Euro">€</abbr>/L</th>
      <td>1.1</td>
      <td>Cheapest gasoline around here</td>
    </tr>
    <tr>
      <th>Work days/<abbr title="year">Y</abbr></th>
      <td>230</td>
      <td><abbr title="approximately">~</abbr>6 weeks vacation+holidays</td>
    </tr>
    <tr>
      <th>km/day</th>
      <td>130</td>
      <td>Work is <em>too</em> far away</td>
    </tr>
    <tr>
      <th>€/Y</th>
      <td><strong>3125</strong></td>
      <td>=9.5/100*1.1*230*130</td>
    </tr>
  </tbody>
</table>
<table border="0">
  <caption>
    Tesla Roadster fuel efficiency
  </caption>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Value</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <abbr title="watt-hour">W·h</abbr>/<abbr title="kilometer">km</abbr>
      </th>
      <td>110</td>
      <td>
        From
        <a
          title="Fuel efficiency chapter in the Tesla Roadster article"
          href="https://en.wikipedia.org/wiki/Tesla_Roadster_(first_generation)#Energy_efficiency"
          >Wikipedia</a
        >
      </td>
    </tr>
    <tr>
      <th>€/<abbr title="kilowatt-hour">kW·h</abbr></th>
      <td>0.1092</td>
      <td>
        From
        <abbr title="Électricité de France">EDF</abbr> (<em
          >Update: sorry, the link is dead</em
        >)
      </td>
    </tr>
    <tr>
      <th>€/Y</th>
      <td><strong>359</strong></td>
      <td>=110/1000*0.1092*230*130</td>
    </tr>
  </tbody>
</table>
<p>
  With a minimum
  <a
    title="Price listings for the Tesla Roadster"
    href="https://en.wikipedia.org/wiki/Tesla_Roadster_(first_generation)#Pricing_complaints"
    >price</a
  >
  of <abbr title="United States Dollar">US$</abbr>80,000, and an exchange rate
  of 1.28468 against the Euro, it would take 80000/1.28468/(3125-359) = 22.5
  years to break even when only counting the gas.
</p>
<p>Confounding factors include</p>
<ul>
  <li>Transport price (they are not selling to Europe yet)</li>
  <li>Taxes</li>
  <li>Efficiency in cold weather</li>
  <li>The ultimate coolness of the Tesla</li>
  <li>Cheaper electricity because of increased use</li>
  <li>Change in mileage</li>
  <li>Longevity / <abbr title="mean time between failure">MTBF</abbr></li>
  <li>Repair costs</li>
  <li>Resale / collectible value</li>
</ul>
<p>
  All in all, still under consideration. That is, until I revolutionize alchemy.
</p>
<p>
  If someone has done more comprehensive studies of the cost of this car
  compared to a gas-guzzling giant, please leave a comment. Thank you!
</p>
