---
title: Submitting CAST bugs, a prologue
categories:
  - bugs
  - software
  - Windows
  - work
tags: []
author: Victor Engmark
---

<p>
  At work, we're using CAST 5.0 for Oracle (build 1007). It's a good product,
  but as with all software, it has bugs. I wanted to report some of them today,
  and had a look at the software documentation. There was no "Report bugs" entry
  under the "How to..." section, but there was plenty of contact information
  under "Welcome/Contacting CAST - Office Locations". This linked to a "<a
    href="https://www.castsoftware.com/Overview/contact"
    >quick email form</a
  >" for "Sales, Product Support or General Inquiries".
</p>

<p>
  Too bad the link was dead. A little unprofessional in 2006, specially since
  it's been on Jakob Nielsen's
  <a
    href="https://www.nngroup.com/articles/the-top-ten-web-design-mistakes-of-1999/"
    >Top Ten Mistakes of Web Design</a
  >
  in 1999.
</p>
<p>
  Well, let's not have that mess up the road to the grandest goal of all time:
  Fixing bugs. So we'll have a go at the referenced "<a
    href="https://www.castsoftware.com/Overview/contact"
    >CAST Web Site</a
  >"... Can anyone say "404"? Dang. Over we go to the
  <a href="https://www.castsoftware.com/">base URL</a>. Next stop: The CAST 5
  Overview. CTRL-F bug. Nada. Search form "bugs" & click. I got four results,
  which can be summarized as follows:
</p>
<ul>
  <li>
    Patting themselves on the back (<em>Update: sorry, the link is dead</em>)
    for providing good technical information
  </li>
  <li>
    A two years old release note (<em>Update: sorry, the link is dead</em>) with
    a dead link to a "Bug Fix List" (<em>Update: sorry, the link is dead</em>)
  </li>
  <li>
    A customer story (<em>Update: sorry, the link is dead</em>) of the horrible
    bug-ridden system they had before CAST
  </li>
  <li>
    A 3.8 MB "Corporate presentation for IT management" (<em
      >Update: sorry, the link is dead</em
    >)
  </li>
</ul>
<p>
  A
  <a href="https://www.google.com/search?q=cast+bugs+site%3Acastsoftware.com"
    >Google "bugs" search</a
  >
  delivered essentially no new information. Googling for "contact" on the site
  finally gave a result. However, the
  <a href="https://www.castsoftware.com/Overview/contact">contact form</a>
  was only linked (<em>Update: sorry, the link is no longer relevant</em>) from
  relatively obscure pages, required me to submit my full name, function/title,
  email, and company name, and the selection list for the reason for contacting
  them had no "Bug reporting" entry. Well, I'll submit them under "Product
  support", and see what happens.
</p>
