---
title: "Re: Guns don't kill people, people kill people"
categories:
  - politics
  - security
tags: []
author: Victor Engmark
---

<p>
  This humungous over-simplification of a complex problem (entropy vs. optimism)
  seems to crop up whenever there is talk about banning something which has both
  practical and malicious uses. The latest example is the
  <a
    href="https://slashdot.org/story/06/05/19/1811205/uk-law-may-criminalize-it-pros"
    >discussion</a
  >
  about a stupid, frightening, or just weird proposal (<em
    >Update: sorry, the link is dead</em
  >) to criminalize "mak[ing] network monitoring tools publicly available
  [...]".
</p>

<p>
  I really have no idea how such issues can keep being used as examples for why
  guns are not "inherently bad". I also can't understand why non-lethal means of
  self protection seem to be ignored as viable alternatives. The founding
  fathers really messed up when they didn't foresee more humane and efficient
  means of protection than guns. Using a stun gun or other non-lethal self
  defence methods / tools, you
</p>
<ul>
  <li>avoid being tried for involuntary manslaughter, or worse</li>
  <li>avoid basically any fatal or permanent injuries in case of accident</li>
  <li><em>What, you need another reason?!</em></li>
</ul>
<p>
  I'd <em>love</em> to keep going for a couple hundred paragraphs, if only to
  get this steam out, but I think my point has been made.
</p>
<p>
  Oh, and if you're looking for a way to sneak in "If guns are illegal, only
  criminals will have guns": The only thing that matters if both of you have
  weapons of <em>any kind</em>, is who gets hit first. You are
  <em>not</em> Bruce Willis, and the "bad guy" is <em>not</em> a fucking
  terminator! So leave out the heavy artillery, and learn to use a stun gun (if
  you really need one) quickly.
</p>
