---
title: FreeBSD vs Linux - A home user's perspective
categories:
  - FreeBSD
  - Linux
tags: []
author: Victor Engmark
---

<p>
  Short version: If you'd like more control over your software (compiled
  <em>and</em> binaries), try FreeBSD. It's got the latest apps, and is a lot
  more predictable than Linux.
</p>

<p>
  Damn, that's a tall order, don't you think? Well, I'm not a kernel hacker, but
  that's my opinion after trying a bunch of Linux distributions* and FreeBSD.
</p>
<h3>Package availability</h3>
<p>
  There are two falsehoods that seem to come up when discussing FreeBSD: There
  are few available programs, and those few are old. Wrong on both counts -
  FreeBSD 6.2 has KDE 3.5.6, GNOME 2.18, Firefox 1.5, 2.0, and 3.0a,
  OpenOffice.org 2.2, GAIM 1.5 and 2.0b6, Skype, Thunderbird, KeePassX, and over
  16,000 others. I've found all my favorites, plus a few surprises like Quake 3.
</p>
<h3>Package management</h3>
<p>
  This is where FreeBSD really leaves Linux behind. Of all the *nix
  documentation I've read, the
  <a href="https://docs.freebsd.org/en/books/handbook/">FreeBSD handbook</a>'s
  section on
  <a href="https://docs.freebsd.org/en/books/handbook/ports/"
    >installing software</a
  >
  must be one of the most lucid and immediately useful. It concisely explains
  how to install from source and binaries, check for security problems, search
  for software, update everything, and update the software collection with a
  handful commands.
</p>
<h3>Directory structure</h3>
<p>
  Personally, I can't stand the way *nix file systems are organized. Where do I
  find the Firefox icon, after KDE "loses" it? Where should the different pieces
  of Apache go? I've used a bunch of tutorials for how to set up Apache on
  Linux, and they never seem to agree. Somebody should ax
  <a
    href="https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard"
    title="Filesystem Hierarchy Standard"
    >FHS</a
  >
  and get us some directory names people can understand.
</p>
<p>
  Now, FreeBSD uses the same old mess. <strong>But</strong>, the structure is
  stable,
  <a href="https://docs.freebsd.org/en/books/handbook/basics/#dirstructure"
    >documented</a
  >, and (seemingly) followed by the installation programs. So there's a single
  place to get the authoritative answer, and a single place where the file
  should go. If you're wondering where a single file went, you can use<br />
  <a href="https://docs.freebsd.org/en/books/handbook/ports/#ports-nextsteps"
    ><code>pkg_info -L <em>package</em></code></a
  ><br />
  to find out.
</p>
<h3>Hardware compatibility</h3>
<p>
  FreeBSD works fine with all the hardware on my Dell Latitude D610 laptop,
  which was a surprise after hearing several persons bashing FreeBSD for its
  hardware support. You might wanna have a look at the
  <a href="https://www.freebsd.org/releases/">hardware notes</a> for the version
  you're installing, just to make sure (e.g.,
  <a href="https://www.freebsd.org/releases/6.2R/hardware-i386/"
    >6.2-RELEASE on i386</a
  >).
</p>
<h3>Help availability</h3>
<p>
  Another great thing about FreeBSD is how rare major redesigns are. At least, I
  guess that's the reason why I've been able to use 8-10 year old tutorials and
  howtos successfully with the newest FreeBSD release. Try that with Mandriva
  (then Mandrake), Ubuntu (didn't exist), Fedora Core (ditto), or any other
  Linux distro, except perhaps Debian.
</p>
<p>
  * Ubuntu, Mandrake, Mandriva, SuSE (before Novell), SLED, SLC, and Fedora
  Core.
</p>
