---
title: Scientific American sells customers' addresses!
categories:
  - spam
tags: []
author: Victor Engmark
---

<p>
  I <em>dislike</em> paperwork, <em>despise</em> advertising,
  <em>hate</em> spam, and <em>loathe</em> companies trading addresses without my
  consent, which is why I'm seriously pissed off after finding a "special" offer
  piece of snail mail from New Scientist in my mail box this evening.
</p>

<p>
  The address on the spam was wrong, in two ways: It contained the residence
  name where the street name should be (a mistake I commonly made after moving
  here), and it was missing the last letter of the residence name.
  <em>Both</em> of these errors appeared on the letter from New Scientist, and
  in an email from Scientific American regarding a missing issue. There's no
  doubt: Scientific American is selling their customers' addresses!
</p>
<p>
  I got a subscription which is not yet expired, but I'm not interested in
  continuing a business relationship with such an immoral company. I'm going to
  ask them to terminate the subscription and send me a check for the rest of the
  issues, and then I never want to hear from them again.
</p>
<p>Update: Here's the body of the reply from Scientific American:</p>
<blockquote>
  <p>
    We are in receipt of your complaint of July 23, 2007, regarding the sale of
    your name to New Scientist for promotional mailings. On all of our
    subscription order forms, we do make mention of the fact that we may share
    your name with third parties, and offer you the option of "opting-out" and
    denying that your name be disclosed. According to our records, you did not
    make that selection when you originally ordered your subscription.
  </p>
  <p>
    As per your request, we are canceling your subscription and mailing you a
    refund check for all issues not mailed. Please accept our apologies for the
    confusion.
  </p>
</blockquote>
<p>
  I always opt out on these things, but there's no way to prove that three years
  after the fact. They don't say whether the option is <em>on</em> the form,
  just that it's mentioned & offered. I'm disappointed that this isn't more of
  an issue.
</p>
