---
title: 5.1 optical audio out in Ubuntu Gutsy
categories:
  - audio
  - Linux
  - Ubuntu
tags: []
author: Victor Engmark
---

<p>
  Finally, the moment has arrived! After trying on at least five GNU/Linux
  distributions and FreeBSD,
  <strong>5.1 surround sound via S/PDIF</strong> (aka. IEC958) finally works, on
  the latest stable version of the new wunderkind of distributions,
  <strong>Ubuntu Gutsy</strong>. The
  <a
    href="https://bugs.launchpad.net/ubuntu/+source/linux-source-2.6.22/+bug/135843/comments/6"
    >instructions</a
  >
  were easy enough, and what follows is a version you can pretty much copy to
  the command line. Note that these are for ASUS P5K-E motherboards (which have
  the
  <a href="https://www.analog.com/en/products/ad1988b.html">Analog AD1988B</a>
  sound chip) - <strong>they may not work for you.</strong>
</p>

<ol>
  <li>
    <code>sudo apt-get install linux-ubuntu-modules-2.6.22-14-386</code>
    <em>(look out for newer versions later)</em>
  </li>
  <li><em>Restart</em></li>
  <li><code>sudo depmod -aAe</code></li>
  <li><code>sudo modprobe snd-hda-intel</code></li>
</ol>
<p>
  I fired up a DVD, a Dolby Surround demo, and Doom 3 with the latest patch (<em
    >Update: sorry, the link is dead</em
  >) and <code>+set s_alsa_pcm spdif +set s_numberOfSpeakers 6</code>, and
  whaddyaknow! It all works! Even the manufacturer's Windows driver doesn't
  support optical surround sound.
</p>
<p>Thank you developers!</p>
<p>
  <strong>Update</strong>:
  <code>+set s_alsa_pcm spdif +set s_numberOfSpeakers 6</code> also works for
  Enemy Territory: Quake Wars. Yay!
</p>
