---
title: How to switch keyboard layouts on the Windows XP login screen
categories:
  - accessibility
  - keyboard
  - usability
  - Windows
tags: []
author: Victor Engmark
---

<p>
  Do you use several keyboard layouts in Windows XP? Ever been annoyed that the
  layout at the login screen is locked to the installation default? Here's how
  to fix it, with a simple
  <a href="https://en.wikipedia.org/wiki/Windows_Registry">registry</a> hack.
</p>

<p>Disclaimer: Use at your own risk, yada yada yada...</p>
<p>How to enable multiple keyboard layouts at login:</p>
<ol>
  <li>
    <a
      href="https://support.microsoft.com/en-us/topic/how-to-back-up-and-restore-the-registry-in-windows-855140ad-e318-2a13-2829-d428a2ab0692"
      ><strong>Back up</strong> the registry!</a
    >
  </li>
  <li>
    Start the registry editor: Press <kbd>Windows</kbd>+<kbd>R</kbd>, type
    <code>regedit</code>, and press <em>Enter</em>.
  </li>
  <li>
    Click on <em>HKEY_USERS</em>, and locate the key (the things which look like
    directories) which is your
    <a href="https://en.wikipedia.org/wiki/Security_Identifier">SID</a> - It
    should be one of the longest. If you have problems finding the SID, you can
    try MS' own getsid (<em>Update: sorry, the link is dead</em>).
  </li>
  <li>
    Right-click the sub-key <em>Control Panel\Input Method\Hot Keys</em> and
    select <em>Export</em>.
  </li>
  <li>Save the file to disk.</li>
  <li>Open the file in a text editor.</li>
  <li>
    Leave the first line in the file, but remove all the keys (and their
    name/value pairs) which don't end in <strong>10<em>X</em></strong
    >, where <em>X</em> is a number. These are the keyboard shortcuts for
    switching between the layouts (if you have set any).
  </li>
  <li>
    Replace the SIDs in the key names with <em>.DEFAULT</em>, so that they will
    be applied to the default user.
  </li>
  <li>
    Export the <em>Keyboard Layout\Preload</em> key to a file, and copy the
    contents (except the first line) into the file you worked with earlier.
    These are the layout settings.
  </li>
  <li>
    Now you should have a working registry file. Before proceeding, you should
    check that it's at least similar to the one I ended up with,
    <a href="#code">below</a>.
  </li>
  <li>Save and double-click on the file to insert the data in the registry.</li>
</ol>
<p>
  Now you should be able to change the keyboard layout the same way you do it in
  Windows when logging in.
</p>
<h2><a id="code">Code</a></h2>
<!-- prettier-ignore -->
<div>
{% highlight registry %}
Windows Registry Editor Version 5.00
; $Id: dvorak-keyboard-layout-at-login.reg 169 2007-09-25 09:31:02Z vengmark $

; Shortcut keys for layouts 1, 2, and 3
[HKEY_USERS\.DEFAULT\Control Panel\Input Method\Hot Keys0000100]
"Virtual Key"=hex:31,00,00,00
"Key Modifiers"=hex:05,c0,00,00
"Target IME"=hex:09,04,02,f0

[HKEY_USERS\.DEFAULT\Control Panel\Input Method\Hot Keys0000101]
"Virtual Key"=hex:32,00,00,00
"Key Modifiers"=hex:05,c0,00,00
"Target IME"=hex:09,04,09,04

[HKEY_USERS\.DEFAULT\Control Panel\Input Method\Hot Keys0000102]
"Virtual Key"=hex:33,00,00,00
"Key Modifiers"=hex:05,c0,00,00
"Target IME"=hex:14,04,14,04

; Remove old settings
[-HKEY_USERS\.DEFAULT\Keyboard Layout]

; Set layouts
[HKEY_USERS\.DEFAULT\Keyboard Layout\Preload]
; US-Dvorak (default)
"1"="00000409"

; US-English
"2"="d0000409"

; Norwegian
"3"="00000414"

; Fallback layouts
[HKEY_USERS\.DEFAULT\Keyboard Layout\Substitutes]
"00000409"="00010409"
"d0000409"="00000409"

; Use Alt-Shift-# (# is 1, 2, or 3) to change between layouts
[HKEY_USERS\.DEFAULT\Keyboard Layout\Toggle]
"Hotkey"="3"
"Language Hotkey"="3"
"Layout Hotkey"="3"
{% endhighlight %}
</div>
