---
title: Confessions of an ex(?) newbie
categories:
  - email
  - Internet
  - personal
  - software
  - web development
tags: []
author: Victor Engmark
---

<p>
  <del datetime="2007-01-31T16:23:53+00:00">Today</del>
  <ins datetime="2007-01-31T16:23:53+00:00">Months ago</ins> it hit me that I
  should properly ask forgiveness for my crimes committed against the IT
  community. I have, in no particular order:
</p>

<ul>
  <li>
    <a
      href="http://www.catb.org/~esr/faqs/smart-questions.html#before"
      data-proofer-ignore
      >Asked for help</a
    >
    before searching.
  </li>
  <li>
    <a href="https://www.chiark.greenend.org.uk/~sgtatham/bugs.html"
      >Filed bugs</a
    >
    with too little information.
  </li>
  <li>
    Been dead sure of the source of the bug <strong>and</strong> completely
    wrong.
  </li>
  <li>
    Used<br />noob<br />text<br />"techniques"<br />in<br />chats<br />At least
    I never used
    <span style="background-color: blue; color: red">FUCKING</span>
    <span style="background-color: brown; color: yellow">COLORED</span>
    <span style="background-color: red; color: green">CAPS</span>.
  </li>
  <li>Participated in newsgroup flame wars.</li>
  <li>Used frames on my website. *Shiver*</li>
  <li>Vented frustration in bug reports.</li>
  <li>
    <a href="https://hwebbjr.typepad.com/openloops/2005/06/how_to_lose_fri.html"
      >Sent emails</a
    >
    without reviewing content and formatting.
  </li>
</ul>
