---
title: '"Defunct hiring process" follow-up'
categories:
  - work
tags: []
author: Victor Engmark
---

<p>
  I got offered (and accepted) the job at the company which called me five
  minutes after getting home from the "post-rejection" meeting.
  <a href="https://en.ctp.co.jp//">Cambridge Technology Partners</a> gave a much
  better deal. The moral of the story: If the risk is all on your side,
  <em>just say no</em>!
</p>
