---
title: "Re: Let That Be a Lesson To You, Son: Never Upgrade."
categories:
  - audio
  - bugs
  - Linux
  - open source
  - usability
tags:
  - sound
author: Victor Engmark
---

<p>
  <a
    href="https://blog.codinghorror.com/let-that-be-a-lesson-to-you-son-never-upgrade/"
    title="'Let That Be a Lesson To You, Son: Never Upgrade.', by Jeff Atwood"
    >Background</a
  >: Jeff Atwood uses anecdotal evidence to show that Linux audio capabilities
  suck.
</p>

<p>
  Looks like Linux is moving up in Scott Berkun's
  <a href="https://scottberkun.com/essays/46-why-software-sucks/"
    >suckiness hierarchy</a
  >: It's now good enough for most people for most things, but it still has weak
  areas (audio, games) which those users find extremely painful.
</p>
<p>
  Reverse anecdotal evidence: After buying my last computer in 2007, I could not
  get optical surround sound to work in XP (Google, Usenet, and vendor
  contacted). For the first time I found that Linux (Ubuntu 7.10) had better
  hardware support, even though the vendor only supported Windows. And there's
  proof (<em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >), too.
</p>
