---
title: Subversion server using HTTPS on Ubuntu Hardy setup
categories:
  - Subversion
  - Ubuntu
tags:
  - Apache
  - howto
  - HTTPS
  - Linux
  - server
  - setup
  - SSL
author: Victor Engmark
---

<p>
  Yay, it's up and running! And here are the steps to do it, mostly copied
  directly from the shell as I ran them. In any case, it may or may not work for
  you, so make sure you check with the proper documentation if anything fails.
</p>

<p>
  By the way:
  <a title="My Subversion backup script" href="/subversion-backup-script"
    >Back up old repositories</a
  >
  if you have any!
</p>
<ol>
  <li>
    Install the software:<br /><code
      >sudo apt-get install apache2 libapache2-svn openssl ssl-cert
      subversion</code
    >
  </li>
  <li>
    Create directory for server certificates:<br /><code
      >sudo mkdir /etc/apache2/certs</code
    >
  </li>
  <li>
    Create password-free SSL certificate (remember what you put as "Host Name"
    for the next step):<br /><code
      >sudo /usr/sbin/make-ssl-cert /usr/share/ssl-cert/ssleay.cnf
      /etc/apache2/certs/server.pem</code
    >
  </li>
  <li>
    Add the Apache certificate settings to
    <strong>/etc/apache2/httpd.conf</strong> (use the "Host Name" value from the
    previous step instead of "example.org" to avoid a warning in
    /var/log/apache2/error.log):
    <pre>
ServerName example.org
SSLEngine on
SSLCertificateFile /etc/apache2/certs/server.pem</pre
    >
  </li>
  <li>
    Enable Apache SSL module (necessary for HTTPS):<br /><code
      >sudo a2enmod ssl</code
    >
  </li>
  <li>
    Create directory for Subversion repository files:<br /><code
      >sudo mkdir /var/lib/svn</code
    >
  </li>
  <li>
    If you have any old repositories, copy them to
    <strong>/var/lib/svn/</strong>, and make sure the Apache user can read &
    write them:<br /><code>sudo chown -R www-data:www-data /var/lib/svn/</code>
  </li>
  <li>
    Create Apache's Subversion password file with one user (replace
    <var>username</var> with one of your choice):<br /><code
      >sudo htpasswd -c /etc/apache2/dav_svn.passwd username</code
    >
  </li>
  <li>
    Uncomment the following lines in
    <strong>/etc/apache2/mods-available/dav_svn.conf</strong> to point Apache to
    your repositories:
    <pre>
&lt;Location /svn&gt;
  DAV svn
  SVNParentPath /var/lib/svn
  AuthType Basic
  AuthName "Subversion Repository"
  AuthUserFile /etc/apache2/dav_svn.passwd
  Require valid-user</pre
    >
  </li>
  <li>
    Disable the default site (it clashes with the SSL settings somehow):<br /><code
      >sudo a2dissite default</code
    >
  </li>
  <li>Restart Apache:<br /><code>sudo /etc/init.d/apache2 restart</code></li>
  <li>
    Test (replace <var>repository_name</var> with an existing repository
    name):<br /><code>svn co https://localhost/svn/repository_name</code>
  </li>
</ol>
<p>Sources:</p>
<ul>
  <li>
    Installation of Subversion on Ubuntu, with Apache, SSL, and BasicAuth (<em
      >Update: sorry, the link is dead</em
    >)
  </li>
  <li>
    <a href="https://ubuntuforums.org/showthread.php?t=51753"
      >HOWTO - Apache2 + Subversion + SSL</a
    >
  </li>
  <li><a href="https://apache-ssl.org/">Apache SSL docs</a></li>
  <li>
    How To: subversion SVN with Apache2 and DAV (<em
      >Update: sorry, the link is dead</em
    >)
  </li>
</ul>
