---
title: Convert XHTML to HTML with XSLT
categories:
  - HTML
  - web development
  - XHTML
  - XSLT
tags: []
author: Victor Engmark
---

<p>
  After fiddling a bit with the "copy-no-ns"
  <abbr title="Extensible Stylesheet Language Transformations">XSLT</abbr>
  template, I've ended up with a style sheet which converts
  <abbr title="Extensible HyperText Markup Language">XHTML</abbr> to
  <abbr title="HyperText Markup Language">HTML</abbr> 4.01 (<em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >), so you can use it as a post-processing step when serving to Internet
  Explorer. Note that this has not been tested with alternative namespaces such
  as <abbr title="Scalable Vector Graphics">SVG</abbr> or MathML.
</p>

<p>
  <strong>Edit:</strong> After moving to PHP 5 and libxslt, it was necessary to
  trim the xmlns declarations down a bit. The new version is online now.
</p>
<p>
  <strong>Edit 2:</strong> I got a bit of a surprise when reading the
  <abbr title="World Wide Web Consortium">W3C</abbr> recommendations for
  <a
    href="https://www.w3.org/International/tutorials/tutorial-char-enc/#declaring"
    >declaring encoding and
    <abbr title="Multipurpose Internet Mail Extensions">MIME</abbr> type</a
  >. The new version is online, but
  <em>you must provide the content type at run time</em> (using
  XSLTProcessor::setParameter (<em>Update: sorry, the link is dead</em>) in PHP
  5). Of course, you can just ignore that and specify your own if it's static.
</p>
