---
title: Throw the fucking switch, Igor!
categories:
  - CERN
  - future
  - LHC
  - physics
tags: []
author: Victor Engmark
---

<p>
  What would you like to have said, if it were you behind the "big green button"
  when the
  <abbr title="Large Hadron Collider">LHC</abbr>
  starts in 2008? It's the world's most powerful particle accelerator, said to
  be the most complex machine ever built, and will most likely set the stage for
  the next level of theoretical physics, so it had better be in the "One small
  step" category.
</p>
