---
title: Back on track!
categories:
  - blogging
  - website
tags: []
author: Victor Engmark
---

<p>
  Finally, after 7 months downtime the blog is up and running again. I guess
  five <a href="https://en.wikipedia.org/wiki/Nines_(engineering)">nines</a> is
  out for the next millennium or so. <del>l0b0.net</del> is no more, but
  <ins>filterous.com</ins> (<em
    >Update: Unfortunately this site is long gone. Sorry for the
    inconvenience!</em
  >) should soon provide the only really useful thing from the old website:
  del.icio.us bookmark filtering.
</p>
