---
title: The difficulty of bug reporting
categories:
  - bugs
  - communication
tags:
  - questions
author: Victor Engmark
---

<p>
  This can be pretty hard: Say the
  <a href="https://bugzilla.gnome.org/show_bug.cgi?id=603350"
    >GNOME screensaver password prompt sometimes won't accept your password</a
  >, no matter how many times you try. How do you check that you haven't mixed
  up your password with one of the other 500 that you have to remember if you're
  not using a
  <a href="http://www.angel.net/~nic/passwdlet.html" data-proofer-ignore
    >password bookmarklet</a
  >
  or a <a href="https://www.keepassx.org/">password manager</a> or you change
  passwords every month (You <em>do</em> use different passwords, don't you?)?
  How do you make sure that you're typing all those special characters right,
  especially since you're using multiple keyboard layouts? Does the "Leave a
  message" function show you the same string that would be sent to the password
  checking routine? Is it possible that any other software is at fault, mangling
  or interrupting your input? How do you even find out which software you're
  typing the password in? Could a buggy keylogger be involved? Is there any
  debugging output, and where can you find it? Is Caps Lock or Num Lock on (EEE
  laptops don't have those handy
  <abbr title="light emitting diode">LED</abbr>s)? Are encodings in any way
  involved? Where should the bug be reported? Should I ask in the official
  mailing list before submitting one? If so, what's the address and do I have to
  be a member to post? Is there some alternative forum which is more used? Is
  the list even active anymore? The bug is still marked as unconfirmed (although
  I've had to <code>killall gnome-screensaver</code> for months), so I guess
  we'll have to see...
</p>
