---
title: Unit testing Python + MySQLdb warnings
categories:
  - programming
  - Python
  - test driven development
tags:
  - MySQL
  - MySQLdb
  - TDD
  - testing
  - unittest
  - unittesting
  - warning
  - warnings
author: Victor Engmark
---

<p>
  There seems to be several methods out there, based on elevating warnings to
  errors using
  <code>warnings.simplefilter</code> (<em>Update: sorry, the link is dead</em>).
  Here's another method, based on recording warnings in a variable (<em
    >Update: sorry, the link is dead</em
  >), and checking that the last one is a <code>MySQLdb.Warning</code>.
  Hopefully to be integrated in <a href="https://inspirehep.net/">INSPIRE</a>.
</p>

<!-- prettier-ignore -->
<div>
{% highlight python %}
import MySQLdb
import unittest
import warnings
[...]
class TestTagInsert(unittest.TestCase):
    def test_too_long_tags(self):
        with warnings.catch_warnings(record=True) as warn:
            [Run SQL statement]
            self.assert_(len(warn) == 1) # Ensures that the next statement won't break the testing
            self.assertEqual(
                MySQLdb.Warning,
                warn[-1].category
                )
            #If you also want to check the text of the warning:
            self.assert_(
                'truncated' in str(warn[-1].message))
{% endhighlight %}
</div>
