---
title: Recursive unRAR and delete
categories:
  - open source
  - shell
tags:
  - compression
  - RAR
  - recursion
  - script
author: Victor Engmark
---

<p>
  Just a continuation of a script mentioned at
  <a
    href="https://www.linuxquestions.org/questions/linux-software-2/using-rar-or-unrar-for-recursive-extracting-380692/"
    >LinuxQuestions</a
  >, to extract RAR archives in their respective directories in a directory
  tree. An additional option is available to delete the archive files after
  finishing extraction.
</p>

<p>
  <strong>Update</strong>: This
  <a href="https://gitlab.com/engmark/unrarr/blob/master/unrarr.sh">script</a>
  is now contained in a
  <a href="https://gitlab.com/engmark/unrarr">GitHub repository</a>
  instead of on this page.
</p>
