---
title: LHC beam again
categories:
  - CERN
  - LHC
tags:
  - beam
  - HEP
  - operations
  - physics
author: Victor Engmark
---

<p>
  From the <abbr title="Large Hadron Collider">LHC</abbr> operations web site,
  pages "<a href="https://op-webtools.web.cern.ch/Vistar/vistars.php?usr=LHC1"
    >LHC1</a
  >" and "<a href="https://op-webtools.web.cern.ch/Vistar/vistars.php?usr=LHC3"
    >LHC3</a
  >", taken as soon as the beam completed a round in the accelerator. See also
  the log book (<em>Update: sorry, the link is dead</em>) and the CMS
  e-commentary (<em>Update: sorry, the link is dead</em>).<a
    href="/assets/images/screenshot-8.png"
    ><img
      src="/assets/images/screenshot-8.png"
      alt="LHC beam 1st round"
      title="LHC beam 1"
      width="300"
      height="111"
  /></a>
</p>
