---
title: Usable security tokens
categories:
  - security
  - usability
tags:
  - tokens
author: Victor Engmark
---

<p>
  Security tokens are pretty common these days. You know the kind: A credit
  card-sized piece of plastic with an
  <abbr title="Radio-frequency identification">RFID</abbr> chip and maybe a
  magnetic strip to boot. Touch and go! But besides the credit card form factor,
  are they actually practical? They are brittle, and they can't be attached to
  anything without drilling (which would make them even more fragile). Here's an
  idea: Get a small <abbr>RFID</abbr> chip, and put it into a small piece of
  <abbr title="acrylonitrile butadiene styrene">ABS</abbr> plastic with a
  metallic ring that goes into the middle of the ABS and extrudes just enough to
  include the whole thing on a key ring (see below). Now if you have an
  <abbr>RFID</abbr> reader somewhere on your desktop, it should be enough to sit
  close to the desk for it to read the chip. So you won't end up with a broken
  card, you won't have to put your entire wallet (or some other container) in
  your pocket to protect the card, and you won't have to leave it on the desk at
  all.
</p>

<p>
  <img
    src="/assets/images/token1.png"
    alt="Security token schematic"
    title="Security token schematic"
    width="128"
    height="128"
  />
</p>
<p>
  PS: Is it possible to make stuff like this (with embedded metal, and without
  destroying the chip) on a 3D printer?
</p>
