---
title: "Howto: Timelapse video from photos"
categories:
  - encoding
  - Linux
  - open source
  - video
tags:
  - 720p
  - HD
  - ImageMagick
  - mencoder
  - mogrify
author: Victor Engmark
---

<p>
  It's amazing what shell tools can do: Flickr accepts HD video (720p, or max
  1280×720) up to 30 FPS, so I tried to create one within those limits from the
  high resolution photos from today's sunrise. Turns out to be incredibly easy
  with free tools on Linux:
</p>

<ol>
  <li>
    Resize to 720 pixels height (if your images are still wider than 1280 you'll
    have to replace <code>x720</code> with <code>1280</code> (without the
    "<code>x</code>"): <code>mogrify -resize x720 *</code>
  </li>
  <li>
    Find the width of the images, and plug that into the following command
    instead of <code>1080</code>.
  </li>
  <li>
    Create the video:
    <code
      >mencoder mf://* -mf w=1080:h=720:fps=30:type=jpg -ovc copy -oac copy -o
      output.avi</code
    >
  </li>
</ol>
<p><a href="https://www.flickr.com/photos/l0b0/4537977184/">The result</a></p>
