---
title: Use SVG in SchemaSpy
categories:
  - shell
  - software
  - SVG
tags:
  - batch
  - PNG
  - SchemaSpy
author: Victor Engmark
---

<p>
  SchemaSpy <abbr title="Portable Network Graphics">PNG</abbr> images take a lot
  more space than their equivalent
  <abbr title="Scalable Vector Graphics">SVG</abbr> counterparts. To replace the
  <abbr>PNG</abbr> images with <abbr>SVG</abbr> you can use
  <a href="https://gitlab.com/engmark/schemaspy2svg">schemaspy2svg</a>
  (Bash and DOS batch scripts).
</p>
