---
title: Automatic backups to remote machine
categories:
  - backup
  - Linux
tags:
  - SSH
author: Victor Engmark
---

<p>
  <strong>Update</strong>: <abbr title="Secure SHell">SSH</abbr> public key
  authentication isn't supported on the system I want to backup to, so I've
  changed the procedure to create a cron job on the server instead of the
  client.
</p>

<p>
  Backups are nice, but they can be a royal pain to set up and verify, and
  there's a lot of tools available. Here's the simplest recipe I could make
  using standard GNU/Linux tools. I'm no security or Linux expert, so don't
  expect any guarantees, and verify anything you're not sure about.
</p>
<p>
  <em>Text like this</em> should be replaced by values relevant for your
  situation.
</p>
<p>
  Login to the server:<br />
  <code>ssh <em>backup_server</em></code>
</p>
<p>
  Create SSH keys without password:<br />
  <code>ssh-keygen -P "" -f ${HOME}/.ssh/backup_id</code>
</p>
<p>
  Verify that the file was created:<br />
  <code>ls ${HOME}/.ssh/backup_id</code>
</p>
<p>
  Copy the public key to the client machine:<br />
  <code
    >ssh-copy-id -i ${HOME}/.ssh/backup_id <em>user</em>@<em>client</em></code
  >
</p>
<p>
  Verify that you can login without providing a password:<br />
  <code>ssh -i ${HOME}/.ssh/backup_id <em>user</em>@<em>client</em></code>
</p>
<p>
  Open crontab (<abbr title="European Organization for Nuclear Research"
    >CERN</abbr
  >
  users, please see below):<br />
  <code>crontab -e</code>
</p>
<p>
  Add the following to the file, save and exit:<br />
  <code
    >@midnight ssh -i ${HOME}/.ssh/backup_id <em>user</em>@<em>client</em> "tar
    zcf - <em>backup_directory</em>" &gt; ${HOME}/backup/$(date
    --iso-8601).tar.gz</code
  >
</p>
<p>
  <abbr>CERN</abbr> specific crontab setup on LXPlus (<em
    >Update: sorry, the link is dead</em
  >):
</p>
<pre>
acrontab -e
0 0 * * * lxplus ssh -i ${HOME}/.ssh/backup_id <em>user</em>@<em>client</em> "tar zcf - <em>backup_directory</em>" &gt; ${HOME}/backup/$(date --iso-8601).tar.gz</pre
>
<p>
  Verify that backups are created:<br />
  <code>ls -la ${HOME}/backup/</code>
</p>
<p>
  Please comment if you have any suggestions to improve the procedure,
  preferably with code or shell output.
</p>
<p>Sources:</p>
<ul>
  <li>
    Passwordless logins: 1 (<em>Update: sorry, the link is dead</em>),
    <a href="https://ubuntuforums.org/showthread.php?t=238672">2</a>,
    <a
      href="https://forums.macrumors.com/threads/unix-people-please-tar-over-scp.35630/?post=465022#post-465022"
      >3</a
    >
  </li>
  <li>
    RSA vs DSA:
    <a
      href="https://www.linuxquestions.org/questions/linux-security-4/which-is-better-rsa-or-dsa-public-key-12593/"
      >1</a
    >,
    <a
      href="https://leaf.dragonflybsd.org/mailarchive/users/2005-01/msg00140.html"
      >2</a
    >
  </li>
  <li>man pages</li>
</ul>
