---
title: BASH prompt galore
categories:
  - shell
tags:
  - bash
  - prompt
  - PS1
author: Victor Engmark
---

<p>
  Here's the latest result of trying to make a
  <abbr title="Bourne-Again SHell">BASH</abbr> prompt which might be useful if
  you use <code>chroot</code>, <code>ssh</code>, <code>su</code> or
  <code>git</code>:
</p>

<!-- prettier-ignore -->
<div>
{% highlight bash %}
# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "$debian_chroot" ] && [ -r /etc/debian_chroot ]
then
    debian_chroot=$(cat /etc/debian_chroot)
fi

chroot='${debian_chroot:+($debian_chroot)}'
PS1="$chroot"

# Color support detection from Ubuntu
if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null
then
    reset='\[\e[0m\]'
    red='\[\e[1;31m\]'
    green='\[\e[1;32m\]'
    orange='\[\e[1;33m\]'
    blue='\[\e[1;34m\]'
fi

# Red user if root, orange if su
if [ "$USER" = "root" ]
then
    PS1="$PS1$red"
elif [ -n "$SUDO_USER" ]
then
    PS1="$PS1$orange"
else
    PS1="$PS1$green"
fi
PS1="${PS1}\u${reset}@"

# Red host if SSH
if [ -n "$SSH_CONNECTION" ]
then
    PS1="$PS1$red"
else
    PS1="$PS1$green"
fi
PS1="${PS1}\h${reset}:${blue}\w${reset}"

# Git branch
if [ "$(type -t __git_ps1)" = "function" ]
then
    PS1="${PS1}\$(__git_ps1 ' (%s)')"
fi

# PS1 end
if [ "$USER" = "root" ]
then
    separator='#'
else
    separator='$'
fi
PS1="${PS1}${separator} "
{% endhighlight %}
</div>

<p>
  Example session (if the above is in ~/.bashrc or /etc/bash.bashrc on both
  hosts):
</p>
<pre
  style="background-color: black"
><span style="color:#0F0;">my_user</span><span style="color:white;">@</span><span style="color:#0F0;">local_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~</span><span style="color:white;">$ cd git-repos/project/</span><br />
<span style="color:#0F0;">my_user</span><span style="color:white;">@</span><span style="color:#0F0;">local_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~git-repos/project</span><span style="color:white;"> (master)$ sudo -u other_user bash</span><br />
<span style="color:orange;">other_user</span><span style="color:white;">@</span><span style="color:#0F0;">local_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~git-repos/project</span><span style="color:white;"> (master)$ ssh third_user@other_hostname</span><br />
<span style="color:#0F0;">third_user</span><span style="color:white;">@</span><span style="color:red;">other_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~</span><span style="color:white;">$ exit</span><br />
<span style="color:orange;">other_user</span><span style="color:white;">@</span><span style="color:#0F0;">local_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~/Desktop/images</span><span style="color:white;">$ exit</span><br />
<span style="color:#0F0;">my_user</span><span style="color:white;">@</span><span style="color:#0F0;">local_hostname</span><span style="color:white;">:</span><span style="color:#77F;">~/Desktop/images</span><span style="color:white;">$ </span></pre>
