---
title: Move file between git branches
categories:
  - Git
tags:
  - rebase
author: Victor Engmark
---

<p>For my own memory more than anything else:</p>

<ol>
  <li>
    <code>git rebase -i &lt;the last commit before the file appeared&gt;</code>
  </li>
  <li>
    <em>edit</em> those commits where the file appears with other files
    (Highlight using <code>gitk</code>), then for each of those:
    <ol>
      <li><code>git reset HEAD^</code></li>
      <li>Create one commit for the file, and another for the rest.</li>
      <li><code>git rebase --continue</code></li>
    </ol>
  </li>
</ol>
<p>
  Source:
  <a
    href="https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-rebase.html#_splitting_commits"
    >Splitting commits</a
  >
</p>
