---
title: SVG example code
categories:
  - CERN
  - SVG
tags:
  - XML
author: Victor Engmark
---

<p>
  While trying to reduce the size of the
  <a href="/library-bookmark-redesign">CERN Central Library bookmark</a>
  and getting away from the messy Inkscape SVG, I'll post the resulting parts
  separately.
</p>

<ul>
  <li>
    <a
      href="https://gitlab.com/engmark/CERN-Central-Library-bookmark/blob/master/CERN-logo.svg"
      >CERN logo</a
    >
  </li>
  <li>
    <a
      href="https://gitlab.com/engmark/CERN-Central-Library-bookmark/blob/master/CERN-map.svg"
      >CERN Meyrin site map</a
    >
  </li>
  <li>
    <a
      href="https://gitlab.com/engmark/CERN-Central-Library-bookmark/blob/master/cc-by.svg"
      ><abbr title="Creative Commons attribution license">CC-BY</abbr> logo</a
    >
    (<a
      href="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg"
      >original</a
    >; <a href="https://creativecommons.org/about/downloads">source page</a>)
  </li>
  <li>
    CERN Central Library
    <a
      href="https://gitlab.com/engmark/CERN-Central-Library-bookmark/blob/master/CERN-library-0.svg"
      >ground floor</a
    >,
    <a
      href="https://gitlab.com/engmark/CERN-Central-Library-bookmark/blob/master/CERN-library-1.svg"
      >first floor</a
    >
  </li>
</ul>
