---
title: cvs2git2svn
categories:
  - CVS
  - Git
  - Subversion
  - Ubuntu
tags:
  - CERN
  - git-svn
  - Linux
  - shell
  - svn
author: Victor Engmark
---

<p>
  After discovering Ohloh (<em>Update: sorry, the link is dead</em>), cleaning
  up and publishing repositories of yore seemed like a good idea. One of them
  was established back in the
  <abbr title="Concurrent Versions System">CVS</abbr> newbie days, and contained
  lots of external binaries - Not the kind of thing you want to version control.
  Having used <abbr>CVS</abbr>, Subversion and Git (in that order), there was
  only one choice:
  <a
    href="https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-rebase.html"
    >Interactive rebase with Git</a
  >. Also, the software was created while at
  <a href="https://home.web.cern.ch/"
    ><abbr title="European Organization for Nuclear Research">CERN</abbr></a
  >, so it should continue to be hosted there. And they had started a Subversion
  service (<em>Update: sorry, the link is dead</em>) in the meantime, so it was
  time to upgrade as well.
</p>

<p>
  These instructions should fit for any <abbr>CERN</abbr> project, and can
  easily be modified to fit any repository. The usual warnings apply:
  <abbr title="Your mileage may vary">YMMV</abbr> and
  <abbr title="read the effing manual">RTFM</abbr>.
</p>
<ol>
  <li>
    Set some variables to avoid typing:
    <code
      >svn_repo=<em>Repository_name</em><br />
      svn_user=<em>User_with_edit_access</em></code
    >
  </li>
  <li>
    Install the tools:
    <code
      >sudo apt-get install cvs2svn (<em>Update: sorry, the link is dead</em>)
      <a href="https://git-scm.com/">git-core</a>
      <a
        href="https://mirrors.edge.kernel.org/pub/software/scm/git/docs/git-svn.html"
        >git-svn</a
      ></code
    >
  </li>
  <li>
    Create the cvs2git working directory:
    <code>cvs2git_wd=$(mktemp -dt cvs2git.XXXXXXXXXX)</code>
  </li>
  <li>
    Copy the contents of the repository (<em>not</em> a working copy) to the
    working directory:
    <code
      >scp -r
      $svn_user@lxplus.cern.ch:/afs/cern.ch/project/svn/reps/${svn_repo}/*
      $cvs2git_wd</code
    >. Don't worry if <code>/hooks</code> is not copied - You don't need it. If
    you don't have filesystem access to the repository, you can try cvssuck (<em
      >Update: sorry, the link is dead</em
    >). Be warned: It's <em>really</em> slow.
  </li>
  <li>
    Set cvs2git global options:
    <ol>
      <li>
        <code
          >zcat /usr/share/doc/cvs2svn/examples/cvs2git-example.options.gz &gt;
          $cvs2git_wd/cvs2git.options</code
        >
      </li>
      <li>
        Modify at least <code>ctx.username</code> and
        <code>author_transforms</code> in
        <code>$cvs2git_wd/cvs2git.options</code>.
      </li>
    </ol>
  </li>
  <li>
    Make the new Git repository:
    <code>git_wd=$(mktemp -dt git.XXXXXXXXXX) && git init $git_wd</code>
  </li>
  <li>
    Convert to Git (repeat for each module):
    <ol>
      <li>
        Modify <code>run_options.set_project</code> in
        <code>$cvs2git_wd/cvs2git.options</code>
      </li>
      <li>
        Create Git import files:
        <code>cd $cvs2git_wd && cvs2git --options=cvs2git.options</code>. If you
        get any warnings or errors you might have to change the options again.
      </li>
      <li>
        Import to Git:
        <code
          >cd $git_wd && cat $cvs2git_wd/cvs2svn-tmp/git-blob.dat
          $cvs2git_wd/cvs2svn-tmp/git-dump.dat | git fast-import</code
        >
      </li>
    </ol>
  </li>
  <li>Make a backup in case the rest goes hairy.</li>
  <li>
    If you need to (which was kind of the point of this exercise), do an
    interactive rebase from the first commit:
    <code>git rebase -i $(git log --format=%H | tail -1)</code>.
  </li>
  <li>
    git-svn needs at least one commit to be in the Subversion repository:
    <code
      >svn_wd=$(mktemp -dt svn.XXXXXXXXXX) && svn co --username $svn_user
      svn+ssh://${svn_user}@svn.cern.ch/reps/${svn_repo} $svn_wd && cd $svn_wd
      && touch .temp && svn add .temp && svn ci -m "git-svn dummy commit"</code
    >
  </li>
  <li>
    <a
      href="https://opensource.googleblog.com/2008/05/export-git-project-to-google-code.html"
      >Convert to Subversion</a
    >:
    <ol>
      <li>
        Prepare git-svn repository:
        <code
          >git2svn_wd=$(mktemp -dt git2svn.XXXXXXXXXX) && git svn clone
          --username $svn_user
          svn+ssh://${svn_user}@svn.cern.ch/reps/${svn_repo} $git2svn_wd && cd
          $git2svn_wd</code
        >
      </li>
      <li>Get Git commits: <code>git fetch $git_wd</code></li>
      <li>
        Apply Git commits as master branch:
        <code
          >git branch tmp $(cut -b-40 .git/FETCH_HEAD) && git tag -am "Last
          fetch" last tmp && first_commit=$(git log --format=%H | tail -1) &&
          git checkout $first_commit . && git commit -C $first_commit</code
        >
      </li>
      <li>
        Apply Git commits:
        <code>git rebase master tmp && git branch -M tmp master</code>
      </li>
      <li>
        Check if this works :
        <code>git svn dcommit --rmdir --find-copies-harder --dry-run</code>
      </li>
      <li>
        If it does, you're good to go:
        <code>git svn dcommit --rmdir --find-copies-harder</code>
      </li>
    </ol>
  </li>
</ol>
<p>
  If the last step fails, the easiest way to continue is just to remove all
  commits from the Subversion repository, fix the Git repository, and restart at
  step 10.
</p>
