---
title: EIF replies
categories:
  - future
  - open source
  - politics
tags:
  - EU
  - open standards
  - policy
author: Victor Engmark
---

<p>
  In response to Glyn Moody's Open Source and Open Standards under Threat in
  Europe (<em>Update: sorry, the link is dead</em>), here are the open replies
  to the key people (I'll post as they are sent).
</p>

<p>
  <a
    href="https://ec.europa.eu/archives/commission_2010-2014/almunia/contact/commissioner/index_en.htm"
    >Joaquín Almunia</a
  >:
</p>
<blockquote>
  <p>Dear sir,</p>
  <p>
    I have just read some disconcerting news and opinions regarding the EIF
    process ("Open Source and Open Standards under Threat in Europe" by Glyn
    Moody), and I hope you have the time to include the opinions of a software
    developer in your deliberations.
  </p>
  <p>
    I have been working in private companies and the European Organization for
    Nuclear Research (CERN) since my graduation in 2004. I am also an active web
    user and contributor. This activity has taught me a few important business
    lessons:<br />
    1. Open source software and data based on open standards* are much more
    robust in the face of change than the alternative. Software is evolving
    fast, but if the proprietary software provider is unwilling or unavailable
    to make new software work with old data, the only options left are a costly
    and difficult re-implementation, a costly and difficult (often impossible
    because of data complexity) migration to other software, or outright
    abandonment.<br />
    2. Closed source means re-inventing the wheel over and over. Software
    business should be about creating additional value on top of what already
    exists, not about costly reiterations of what already exists.<br />
    3. With the availability of cheap Internet connectivity, storage and
    computing power comes the opportunity for individuals and communities to
    make millions of incremental improvements to software every day. These
    updates are available to anyone else, making for an enormous amount of work
    provided for free for anyone to build upon or profit from.
  </p>
  <p>
    * I.e., software / standards which are available for free for anyone to
    view, modify and re-publish, optionally with additional restrictions or
    permissions such as the opportunity to change permissions on derivative
    works or the need for source attribution.
  </p>
</blockquote>
<p>
  Just received a
  <a
    href="/assets/documents/2010-05-06-ares-244731-signed-note-to-mr-engmark.pdf"
    >reply</a
  >. The gist:
</p>
<blockquote>
  <p>
    Recently, "draft versions" of the revised EIF have apparently been published
    on the Internet and we understand that you refer to these draft versions.
    You should note that the Commission cannot comment on such draft versions as
    they do not reflect a formal Commission position. But let me assure you that
    the guiding principles for the revision of the EIF include technological
    neutrality and adaptability, openness and reusability, as specified in the
    legal base of the Programme "Interoperability Solutions for European Public
    Administrations" (ISA)2, in the context of which the revision is being
    carried out.
  </p>
</blockquote>
