---
title: Creating time-lapse videos
categories:
  - Flickr
  - video
tags:
  - 720p
  - HD
  - howto
  - time-lapse
author: Victor Engmark
excerpt_separator: <!--more-->
---

<p>
  This guide shows you how to create
  <strong>high-definition time-lapse videos</strong> from series of
  <strong>still pictures</strong>, tailored towards <strong>Flickr</strong>, and
  using only <strong>free and open source tools</strong> available on most
  operating systems (although I'm not sure about Windows).<!--more-->
  If you're just here for the meat, or you're already photographing in 1280×720,
  you can go straight to the <a href="#code">code</a> or
  <a href="#example">example</a>.
</p>

<h2>Cropping</h2>
<p>
  High resolution is not everything, but it's a useful substitute for a good
  zoom lens if you're going to show the final result in a lower resolution than
  your camera produces. This is very common, and will probably continue to be
  common for a while. <abbr title="charge-coupled device">CCD</abbr>s quickly
  surpassed desktop screens in resolution (and are likely to continue that way),
  and showing a full-screen, <em>full-resolution</em> video without stuttering
  is more than many desktop computers are able to do today.
</p>
<p>
  Flickr staff
  <a
    href="https://www.flickr.com/help/forum/en-us/72157625452808540/#reply72157625496252380"
    >recommend</a
  >
  640×480 (<abbr title="standard definition">SD</abbr>) or 1280×720 (<abbr
    title="high definition"
    >HD</abbr
  >) resolution with 25/30 <abbr title="frames per second">FPS</abbr>. Anything
  else I presume will be resized and slowed/speeded up. Since most digital
  cameras nowadays have much higher resolutions than these, I'll base the
  instructions on <em>1280×720, 30 FPS</em>, but it should be easy to adapt them
  if you want.
</p>
<p>
  If you want to have as much surface area as possible for your video, you
  should crop it to fit the
  <a
    href="https://secure.wikimedia.org/wikipedia/en/wiki/Aspect_ratio_%28image%29"
    >aspect ratio</a
  >
  (16:9 for 1280×720). This is easy in
  <a href="https://www.gimp.org/"
    ><abbr title="GNU Image Manipulation Program">GIMP</abbr></a
  >:
</p>
<ol>
  <li>Open the image</li>
  <li>Select the crop tool</li>
  <li>Set fixed aspect ratio 16:9</li>
  <li>
    Move and resize the crop field until it fits your purpose. This is where you
    have the chance to get rid of that random stuff in the corners that you
    don't want to leave in the finished movie.
  </li>
  <li>
    Note the crop position (e.g., x=0, y=495) and size (e.g., 4752×2673)
    <em>in pixels</em> for later.
  </li>
</ol>
<h2>Resizing</h2>
<p>
  Your images are probably still larger than 1280×720 pixels, so we'll need to
  resize them as well. We'll force the aspect ratio (<code>!</code> below) to
  avoid any rounding errors which might occur since our image size is most
  likely not a multiple of 1280×720 pixels.
</p>
<h2 id="code">Do it!</h2>
<p>
  Now <em>make sure you have a backup!</em> Then replace the crop values with
  your own, using the
  <a href="https://www.imagemagick.org/Magick++/Geometry.html">geometry</a>
  &lt;width&gt;x&lt;height&gt;+&lt;x position&gt;+&lt;y position&gt;:
</p>
<!-- prettier-ignore -->
<div>
{% highlight bash %}
mogrify -monitor -crop 4752x2673+0+495 -resize 1280x720! /path/to/*.jpg
mencoder -nosound mf:///path/to/*.jpg -mf w=1280:h=720:type=jpg:fps=30 -ovc lavc -lavcopts vcodec=mpeg4:vbitrate=9000000:mbd=2:keyint=132:v4mv -o time-lapse.avi
{% endhighlight %}
</div>
<h2 id="example">Example</h2>
<p>
  <a
    data-flickr-embed="true"
    data-footer="true"
    href="https://www.flickr.com/photos/l0b0/5700847904"
    title="Clouds time-lapse"
    ><img
      src="https://live.staticflickr.com/5230/5700847904_a232ff1e89_b.jpg"
      width="1024"
      height="576"
      alt="Clouds time-lapse"
  /></a>
  <script
    async
    src="//embedr.flickr.com/assets/client-code.js"
    data-proofer-ignore
    charset="utf-8"
  ></script>
</p>
