---
title: Facebook won't work with NoScript extension
categories:
  - bugs
  - website
tags:
  - bug
  - Facebook
  - NoScript
  - refresh
author: Victor Engmark
---

<p>
  Looks like they're doing something retarded when detecting
  <a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">NoScript</a
  >: Some links (for example, other people's profiles) have an extra
  <code>?_fb_noscript=1</code> at the end, and the page includes a
  <code
    >&lt;meta http-equiv=refresh content="0;
    URL=/people/JohnDoe/12345678?_fb_noscript=1" /&gt;</code
  >, which results in an endless loop of reloading the same page :/
</p>
