---
title: Mein Kampf at OSL
categories: []
tags: []
author: Victor Engmark
---

<p>
  No, this is not some tastelessly titled travel story. During a routine book
  store stop at Oslo Airport Gardermoen, I felt surprised and slightly
  uncomfortable seeing <a href="https://en.wikipedia.org/wiki/Mein_Kampf"
    >Mein Kampf</a
  >
  for sale. Two paperback copies, side by side, both with that familiar crumpled
  back caused by heavyhanded customers checking out random pages. But it's the
  sign of a properly civilized society to trust that people will read such a
  book knowing its significance, and act accordingly. For me the significance is
  simply this: Anyone who follows a person or book without question is a
  dangerous, untrustworthy fool.
</p>

<p>
  Not my cup of tea to put it mildly, but a good sign. And Bill Bryson's
  <em>At Home</em> is turning out excellent.
</p>
