---
title: Ubuntu Unity 3D first impressions
categories:
  - Ubuntu
tags:
  - desktop
  - review
  - Unity
author: Victor Engmark
---

<p>
  Today, for the first time ever, one of my computers was able to start Ubuntu
  Unity "standard." I guess it had to happen sometime - I only had to try
  <strong
    >11.04, 11.10 and 12.04, with open source and AMD proprietary drivers, on
    four different computers</strong
  >
  before the magic happened and I actually got a functional desktop (that is,
  not just garbage graphics, crashes back to the login screen or a crash so bad
  even the
  <a href="https://en.wikipedia.org/wiki/Magic_SysRq_key#Uses"
    >Magic SysRq key sequence</a
  >
  didn't work). I've no idea what they just updated to fix it, but let's see
  what's in the box...
</p>

<p>Useful features:</p>
<ul>
  <li>
    Quick access to frequently used applications. Nice. Welcome to the 20th
    century.
  </li>
  <li>The top panel. Straight out of GNOME.</li>
  <li>Login screen with WM selector. Awesome!</li>
</ul>
<p>Annoying features which I could fix/disable:</p>
<ul>
  <li>
    <a href="https://askubuntu.com/a/117688/10371"
      >Start menu on every screen instead of a single one.</a
    >
  </li>
  <li>
    <a href="https://askubuntu.com/a/10627/10371"
      >Having to click an application to access its top menu.</a
    >
  </li>
  <li>
    <a href="https://askubuntu.com/a/107055/10371"
      >Gigantic icons in the launcher.</a
    >
  </li>
  <li>
    <a href="https://askubuntu.com/a/105284/10371"
      >Recent Files and Downloads in the launcher.</a
    >
  </li>
</ul>
<p>Annoying features which have no obvious way to disable them:</p>
<ul>
  <li>
    One keyboard click and two mouse clicks (with mystery meat navigation) to
    get to a list of all installed software.
  </li>
  <li>No categorized list of installed software.</li>
  <li>
    The format of the displayed date/time.
    <a href="https://askubuntu.com/a/200997/10371">One solution</a> worked only
    halfway - It enabled display in my home country format, but not a custom
    format.
  </li>
  <li>
    Top panel duplicated on every screen. I just want one main screen, please.
    No wasted space. According to one
    <a href="https://askubuntu.com/a/111200/10371">source</a> this will not be
    fixed in 12.04.
  </li>
  <li>Names for applications on the launcher.</li>
  <li>Special folders which I never ever use, like ~/Desktop.</li>
  <li>
    Really bad aliasing when showing application windows next to each other.
    Open up two windows of any app, then click on the icon in the launcher to
    see the result.
  </li>
  <li>The Workspaces and media shortcuts in the launcher.</li>
  <li>
    Minimize, maximize and close window buttons done even worse than OS X. OK,
    so you got the big hitboxes, tiny icons and ridiculous proximity, but making
    them visually almost completely indistinguishable (at least for a background
    window) was a stroke of ... Oh, forget it. It's too easy a target.
  </li>
</ul>
<p>
  In summary, thank you from the bottom of my heart for making the first really
  user friendly and simple to configure desktop Linux (Ubuntu 8 through 10), and
  please, please, please, get your act together on this Unity monstrosity. Can't
  you see it's not even close to the usability of KDE or GNOME? Maybe those
  aren't "cool" anymore, but Unity is just bad. Well, Unity 2D is stable and
  gets the job done, but the 3D one should be labeled "bleeding edge." I get the
  feeling complaints like this are rejected as signs that users are shy of
  change, but does anyone need to be reminded of the practically universally
  approved Compiz and GNOME 2, even though both introduced massive changes?
</p>
