---
title: stackexchange.com abbreviation
categories:
  - website
tags:
  - abbreviation
  - acronym
  - name
  - stackexchange.com
  - URL
author: Victor Engmark
---

<p>
  Wouldn't it be nice if there was a short form for
  <a title="Stack Exchange" href="https://stackexchange.com/"
    >stackexchange.com</a
  >? Like sexchange.com or simply sex.com? Imagine trying to convince the
  sysadmin that you <em>really</em> need access to
  <a title="Stack Exchange Security" href="https://security.stackexchange.com/"
    >security.sex.com</a
  >...
</p>

<p>Anyway, isn't caffeine great?</p>
