---
title: Fix Git repository after Subversion conversion
categories:
  - Git
  - version control
tags: []
author: Victor Engmark
---

<p>
  After
  <a href="/n-way-git-synchronization-with-extra-cheese#git-svn"
    >converting a Git repository from Subversion with svn2git</a
  >, all was well. At least until I wanted to squash some of the oldest commits
  with the excellent interactive rebase. Full of fail, I realized that I might
  have to do some cleanup before going on such a bold expedition. Here's a
  couple tricks for "post-processing" a converted repository.
</p>

<ol>
  <li>
    Make a <strong>backup</strong>! Ideally, do this work on a clone of the
    original repository, then use a tool like
    <a href="https://meldmerge.org/">Meld</a> (or simply
    <code>diff -r repo_backup new_repo</code>) to check that the resulting files
    are the same as before.
  </li>
  <li>
    <a
      href="https://github.com/jwiegley/git-scripts/blob/master/git-remove-empty-commits"
      >Remove empty commits</a
    >:
    <code
      >git filter-branch --commit-filter 'if [ z$1 = z`git rev-parse $3^{tree}`
      ]; then skip_commit "$@"; else git commit-tree "$@"; fi' "$@"</code
    >
  </li>
  <li>Garbage collect and prune: <code>git gc --prune</code></li>
  <li>
    Start interactive rebase from the first commit:
    <code>git rebase -i $(git log --format=%H | tail -1)</code>
  </li>
  <li>
    Squash all commits with empty messages. These are shown as multiple commit
    IDs on the same line with a space and <code>&gt;</code> between them, like
    this:
    <pre>pick 1111111 &gt;2222222 &gt;3333333 Message</pre>
    <p>Just split these up and remove the commits, like this:</p>
    <pre>
fixup 1111111 nothing
fixup 2222222 nothing
pick 3333333 Message</pre
    >
    <p>
      In Vim, you can do this by repeating the following command until it
      reports no hits:
      <code
        >:%s/^pick \([a-f0-9]\{7\}\) &gt;\([a-f0-9]\{7\}\)/fixup \1
        nothing\rpick \2/g</code
      >
    </p>
  </li>

  <li>Exit the editor, and the rebase should complete on its own.</li>
</ol>
<p>
  Warning, as always: <abbr title="Your mileage may vary">YMMV</abbr> and
  <abbr title="read the effing manual">RTFM</abbr>.
</p>
