---
title: Ultimate unit of time
categories:
  - nature
  - physics
tags:
  - binary
  - programming
  - time
author: Victor Engmark
---

<p>
  Everyone knows Y2K (or else you wouldn't be reading past this parentesis), but
  there's also Y2K38 (32-bit Unix timestamps run out) and the
  <a
    href="https://en.wikipedia.org/w/index.php?title=Year_2038_problem&oldid=498367036#Solutions"
    title="Solution for the Y2K38 problem"
    >Y292B277M026K596</a
  >
  problem. Why not get rid of these problems through the power of science?
</p>

<p>
  The
  <a
    href="https://en.wikipedia.org/w/index.php?title=Planck_time&oldid=495362103"
    >Planck time</a
  >, at roughly 5.39106×10<sup>-44</sup> seconds, is
  <q>the smallest time measurement that will ever be possible.</q> The Universe
  is, at current reckoning, about
  <q
    ><a
      href="https://en.wikipedia.org/w/index.php?title=Age_of_the_universe&oldid=497834728"
      title="Age of the universe"
      >13.75 ± 0.11 billion years.</a
    ></q
  >
  Seems to me we could put these facts together, and create the last reckoning
  our computers will ever need. With a bit of generous rounding, we get to
  around 2.6×10<sup>53</sup> Planck time units of time until now. Converting to
  binary, that's 177 bits. But what about the future? Well, since computers
  generally work best when given data in sizes equal to a
  <a
    href="https://en.wikipedia.org/w/index.php?title=Power_of_two&oldid=498229181"
    >power of two</a
  >, we might as well round up to the nearest - 256 - And have plenty of time.
  In fact, 256 bits (less than it takes to store your postal address) would be
  sufficient to store time units until way, <em>way</em> beyond the existence of
  the human race, or indeed, of
  <a
    href="https://en.wikipedia.org/w/index.php?title=Proton_decay&oldid=495268637"
    title="Proton decay"
    >the fundamental particles of the universe</a
  >.
</p>
