---
title: HDMI audio output hell
categories:
  - audio
  - hardware
  - Windows
  - Windows 7
tags:
  - AMD Radeon HD 6970
  - Asus P6X58D-E
  - drivers
  - HDMI
  - Onkyo TX-NR509
  - sound
  - Windows 7 Home Premium x64
author: Victor Engmark
---

<p>
  This is a gigantic PITA. I can't believe some people still think proprietary
  software has good support for proprietary hardware - Even with a relatively
  simple setup like this, many hours of searching forums, installing and
  reinstalling drivers, fiddling with the BIOS and sound settings still hasn't
  produced any sound.
</p>

<ol>
  <li>
    Upgraded the A/V receiver firmware (<em>Update: sorry, the link is dead</em
    >). This was easy since I've connected it to the Internet. It's now got the
    latest firmware.
  </li>
  <li>
    Installed, removed and reinstalled the latest video driver - Catalyst
    Software Suite 12.8 (<em>Update: sorry, the link is dead</em>). I rebooted
    after each step.
  </li>
  <li>
    When I plug in the HDMI cable, a device called <em>Generic PnP Monitor</em>
    is added to the <em>Devices</em> list. I know it corresponds to the A/V
    receiver, because it is removed again if I unplug the cable. This messed up
    the dual-screen display the first time I plugged in the HDMI cable, making
    only the secondary display active until I managed to move the Catalyst
    Control Center window from the invisible desktop to the visible one.
  </li>
  <li>
    Tried to update the driver of the <em>Generic PnP Monitor</em>, but it just
    says the driver is up to date.
  </li>
  <li>
    In the <em>Sound → Playback</em> window the
    <em>AMD HDMI Output</em> playback device is enabled, but it shows simply
    <em>Not plugged in</em>, so I can't configure it or set it to the default,
    as some forum posts instruct.
  </li>
  <li>
    In the BIOS menu there is a setting called
    <em>SPDIF OUT Mode Setting</em> [sic], with possible values
    <em>SPDIF</em> and <em>HDMI</em>. It's set to SPDIF, according to
    <a href="https://itstillworks.com/fix-sound-asus-motherboard-8482721.html"
      >this cryptic description</a
    >:
    <q
      >Select the [HDMI] option only if you have a video card with HDMI support
      and are using the SPDIF signal for the high-definition monitor's
      speakers.</q
    >
    I'm not using monitor speakers.
  </li>
  <li>
    In the <em>Screen Resolution</em> window there's a <em>TX-NR509</em> device.
    The resolution and orientation can't be set, and I've set
    <em>Multiple displays</em> to <em>Disconnect this display</em>.
  </li>
  <li>
    The A/V receiver shows that it's connected, but not receiving a signal.
  </li>
</ol>
<p>
  In conclusion, both devices know about each other, but Windows 7 seems to
  think the A/V receiver is a monitor. Any ideas?
</p>
