---
title: Delicious data loss
categories:
  - bugs
  - usability
tags:
  - bug
  - conversation
  - Delicious
author: Victor Engmark
---

<p>
  After many years, it looks like Delicious will never have support for
  excluding tags from a search, so when I saw that they had added a "Remove Tag"
  functionality I finally decided to get rid of all the "toread" tags from posts
  already tagged with "read". This didn't quite turn out as expected:
</p>

<blockquote>
  <p>
    From: Victor Engmark<br />
    To: feedback@delicious.com<br />
    Content-Type: text/plain; charset=UTF-8
  </p>
  <p>Dear Delicious Support,</p>
  <p>
    For ease of searching I decided today to remove the "toread" tag from all
    bookmarks I have already read - That is, I went to the toread+read tags page
    &lt;https://www.delicious.com/engmark/toread+read&gt;, selected all, clicked
    "Remove Tag", carefully clicked only on "toread", and clicked Save. This I
    repeated for each page until there was only a single page left. During this
    process I discovered several bugs, here listed according to increasing
    severity:
  </p>
  <p>
    When selecting a bookmark the links above (except "Rename Tag" since it's
    sneaky and doesn't actually just rename on the selected items) are
    "activated". That is, they turn blue. After clicking "Save" the page would
    refresh, all the checkboxes would still be ticked, but the links would still
    be gray. Expected behavior: When bookmarks are selected (before or after an
    action) the links should be colored. In the case of some bookmarks it was
    not possible to remove the "toread" tag. I repeatedly tried, and every time
    the same bookmarks showed up on the page after the refresh. Expected
    behavior: It should be possible to remove tags from any bookmark. After
    selecting the bookmarks mentioned in point 2 and clicking "Remove Tag", the
    "Remove Tags" dialog only displayed a single tag: "toread". Expected
    behavior: This should behave like for other bookmarks, that is, show all the
    tags for all the bookmarks. When trying to edit individial items from the
    bookmarks mentioned in point 2, the "Edit Link Info" dialog doesn't display
    the same tags as the toread+read tags page. For example the bookmark "Ryan
    let's assume that you blend fiction and reality only on special occasions"
    &lt;http://www.qwantz.com/index.php?comic=1992&gt; has the tags "toread",
    "read", "comic" and "funny" according to the toread+read tags page, but only
    "RyanNorth" in the "Edit Link Info" dialog. Expected behavior: The "Edit
    Link Info" dialog should display the same title, URL and tags as the
    bookmarks list.<br />
    Somehow, instead of removing the "toread" tag Delicious removed the "read"
    tag! Expected behavior: Remove the tag I requested to remove, and only that.
  </p>
  <p>
    I've now lost seven years worth of records of what I've read online! Please
    help me fix the state of my bookmarks. In case you can't obtain a diff
    between the bookmarks of yesterday and today I can provide you with one for
    reference (I do daily XML backups in case of just such a situation). This
    procedure should be nothing more than a reversal of the tag removals done in
    the last 48 hours or so.
  </p>
  <p>
    Posted to my blog<br />
    &lt;https://gitlab.com/victor-engmark/paperless/wiki/Delicious-data-loss&gt;
    for<br />
    reference.
  </p>
  <p>Sincerely, a long-time user.</p>
</blockquote>
<p>
  Long story short, I'd misunderstood how the feature works: Instead of removing
  those tags which you leave in the tag cloud,
  <strong>it removes all tags which you remove from the tag cloud</strong>! I
  had thought it was a "remove these tags" feature, but actually it was a "keep
  only these tags" feature.
</p>
<p>
  Restoring from the XML files was out of question (they only support HTML
  import now), and they were unable to provide a reference for what such an HTML
  file should look like and whether tags would be replaced completely (messing
  up the changes I did since this started) or just added to the existing ones. I
  guess a migration to <a href="https://pinboard.in/">Pinboard</a> is finally in
  order.
</p>
<p>
  Edit: Here's how I ended up migrating to Pinboard, fixing the bookmarks in the
  process:
</p>
<ol>
  <li>
    Export delicious.html (<em>Update: sorry, the link is dead</em>) and create
    a backup of the file.
  </li>
  <li>
    Get the URLs and tags of the bookmarks in the XML file which used to have a
    "toread" tag but have changed since the fuck-up:
    <pre>
git diff bookmarks.xml | \
grep '^-.*[" ]toread[" ]' | \
grep -Eo 'href="[^"]+".*tag="[^"]+"' | \
sed -e 's/href="\([^"]\)".* tag="\([^"]\)"/ /' &gt; url_tags.txt</pre
    >
  </li>
  <li>
    Make the URLs and tags
    <a href="https://stackoverflow.com/a/2705678/96588"
      ><code>sed</code>-compatible</a
    >:
    <pre>sed -i -e 's/[\/&]/\&/g' url_tags.txt</pre>
  </li>
  <li>
    Replace spaces between tags with commas (otherwise "foo bar" is imported as
    "foo_bar"):
    <pre>
while grep -q ' .* ' url_tags.txt
do
    sed -i -e 's/\( [^ ]*\) /,/g' url_tags.txt
done</pre
    >
  </li>
  <li>
    Loop over each of the URL tag pairs, and create a <code>sed</code> script
    from it:
    <pre>
while IFS=' ' read -r -u 9 url tags
do
    echo 's/\(HREF="'"$url"'".* TAGS="\)[^"]*"/'"$tags"'"/;' &gt;&gt; replace.sed
done 9&lt; url_tags.txt</pre
    >
  </li>
  <li>
    Replace the tags:
    <pre>sed -i -f replace.sed delicious.html</pre>
  </li>
  <li>
    Verify the difference between the HTML backup and the changed file:
    <pre>meld delicious.html{.backup,}&</pre>
  </li>
  <li><a href="https://pinboard.in/settings/import">Import in Pinboard</a></li>
</ol>
