---
title: Ubuntu getting unreadier and unreadier for the desktop
categories:
  - bugs
  - Ubuntu
tags:
  - graphics
  - Ubuntu 13.04
author: Victor Engmark
---

<p>
  I'm pretty sure that isn't a word, but anyway. Since upgrading to 13.04
  yesterday, I've found the following bugs:
</p>

<ol>
  <li>
    <a href="https://bugs.launchpad.net/ubuntu/+source/ubuntu-meta/+bug/1173884"
      >Unity crashes when turning on the AV receiver</a
    >. So far I've tried using proprietary/open source video drivers, removing
    all GNOME-/Ubuntu-related dotfiles and directories in ~ (like .gconf), and
    purging/reinstalling the ubuntu-desktop and xorg-* packages.
  </li>
  <li>
    <a
      href="https://bugs.launchpad.net/ubuntu/+source/gnome-control-center/+bug/1173875"
      >Can't save display settings as root.</a
    >
  </li>
  <li>
    <a
      href="https://bugs.launchpad.net/ubuntu/+source/gnome-control-center/+bug/1173871"
      >Login screen resolution not set.</a
    >
  </li>
  <li>
    Still no hint as to whether I should install the fglrx or fglrx-updates
    driver (the latter gave me a black screen), so I guess that's not the right
    one then
  </li>
  <li>
    When logging in to a virtual terminal, it says "Welcome to Ubuntu 13.04",
    and a few lines later it says "New release '13.04' available." I've verified
    that /etc/apt/sources.list contains no references to older packages, and
    that <code>lsb_release --all</code> reports "Ubuntu 13.04".
  </li>
</ol>
