---
title:
  This automated message is provided for the sanity and convenience of the
  Global Academics Research Facilities personnel
categories:
  - work
tags:
  - academia
  - Half-Life
  - humor
  - intro
author: Victor Engmark
---

<p>From one scientist to another (neither of them me):</p>

<blockquote>
  <p>---BEEP--</p>
  <p>
    Good morning Dr [redacted], and welcome to the Global Academics Mutual
    Support and Self-Help system. This automated message is provided for the
    sanity and convenience of the Global Academics Research Facilities
    personnel. The time in the UK is 10:47 A.M. Current outside temperature is
    roughly 18 degrees Celsius, but feels like 8 thanks to high winds and a very
    exposed location. The estimated high for today is 24 degrees Celsius, which
    will probably feel like 12 for the very same reasons. The indoor areas are
    maintained at a chilly 15 degrees at all times.
  </p>
  <p>
    This message is designed to ease your transition into the post-doc world. If
    your intended goal is to stay in research, you will need to return to your
    office and remind your bank that it's no use waiting for more money to pass
    through your account, as no more will be forthcoming. If you have not yet
    handed in your brain at the door after burning it out during the thesis
    writing process, you must report to the the medical service to have it
    replaced before you will be permitted into the high paper rate branch of the
    international research system.
  </p>
  <p>
    A reminder that the Global Academics Board Game Night decathlon will
    commence this evening at 1900 hours around a table of your choice. The
    semi-finals for high paper rate personnel will be announced in a separate
    secure access transmission. Remember, more lives than your own may depend on
    your ability to tell a garden-variety zombie from a minion of
    Shub-Niggurath.
  </p>
  <p>
    Do you have a friend or relative who would make a valuable addition to the
    Global Academics team? Tell them to run. A mile. Without looking back.
    Please contact your nearest university for further information. If you have
    an associate with a background in the areas of "Experimental Theology",
    "Creative Geography", or other sanity-questioning disciplines, please tell
    them they'd fit right in. The Global Academics Research Facility offers
    equally depressing opportunities for all employees.
  </p>
  <p>
    A reminder to all Global Academics personnel. Regular light sensitivity and
    hemoglobin level screenings are a requirement of continued employement in
    the Global Academics Research Facility. Missing a scheduled light
    sensitivity or hemoglobin level check-up is grounds for immediate
    termination. If you feel you've been exposed to an excess of bright sunlight
    or other hazardous situations in the course of your duties, contact your
    vampire anti-defamation league representative immediately. Work lots, work
    nights. The future of your research may depend on it.
  </p>
  <p>
    Now concluding the automated mutual support and self-help system message.
    Please have a seat, relax, and breathe deeply. Before getting started, be
    sure to check your office for zombie intruders. Thank you, and have a very
    sane, and paper-producing day.
  </p>
  <p>---BEEP--</p>
</blockquote>
