---
title: BT VDSL modem linkjacking HTTP URLs
categories:
  - Internet
  - usability
tags:
  - BT
  - linkjacking
  - router
author: Victor Engmark
---

<p>
  Yet another reason to install
  <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a> and
  <a href="https://noscript.net/">NoScript</a>: It looks like our BT Hub 4 is
  linkjacking all HTTP URLs:
</p>

<p>
  <a href="/assets/images/2013-11-08-233532_1366x768_scrot-e1383954759416.png"
    ><img
      src="/assets/images/2013-11-08-233532_1366x768_scrot-e1383954759416.png"
      alt="NoScript blocking warning"
      width="584"
      height="17"
  /></a>
</p>
<p>
  Turns out they just want to show a useless
  <a
    href="http://bthomehub.home/mobile-step0.html"
    title="This link probably only works if you have a BT Hub 4 VDSL modem"
    data-proofer-ignore
    >landing page</a
  >:
</p>
<p>
  <a href="/assets/images/2013-11-08-234310_1366x768_scrot-e1383954919812.png"
    ><img
      src="/assets/images/2013-11-08-234310_1366x768_scrot-e1383954919812.png"
      alt="BT landing page"
      width="450"
      height="319"
  /></a>
</p>
<p>
  This wouldn't be so annoying if it didn't happen on every new IP that connects
  to the hub. Isn't the proof in the pudding - if the rest of the web works, why
  is the landing page necessary?
</p>
