---
title: A superior Linux experience with Awesome
categories:
  - Linux
tags:
  - Awesome WM
  - desktop
  - review
  - window manager
  - WM
author: Victor Engmark
---

<p>
  <a href="https://awesomewm.org/">Awesome</a> actually lives up to its name.
  Short and sweet, here's why you should try it:
</p>

<ul>
  <li>
    It's
    <a
      href="https://www.nngroup.com/articles/response-times-3-important-limits/"
      >instantaneous</a
    >. Always.
  </li>
  <li>
    Exactly one word which is confusing to newbies: "Tags", collections of
    windows, marked on top of the screen with numbers 1 through 9. Think of them
    as Delicious/Flickr/Twitter tags for your windows, because that's exactly
    what they are. These are central to the genius of Awesome.
  </li>
  <li>
    Automatically resizes windows to fit the screen without overlap. This is a
    truly powerful little time saver.
  </li>
  <li>
    Intuitive
    <a href="https://awesomewm.org/doc/manpages/awesome.1.html"
      >keyboard shortcuts</a
    >:
    <ul>
      <li>
        <kbd>Windows</kbd> + <kbd>f</kbd> to toggle <strong>f</strong>ullscreen.
      </li>
      <li>
        <kbd>Windows</kbd> + <kbd>m</kbd> to toggle <strong>m</strong>aximize.
      </li>
      <li><kbd>Windows</kbd> + number to show only that tag number.</li>
      <li>
        <kbd>Windows</kbd> + <kbd>Left</kbd> and <kbd>Windows</kbd> +
        <kbd>Right</kbd> to switch tags. And yes, it rolls around.
      </li>
      <li><kbd>Windows</kbd> + <kbd>Enter</kbd> to run a command.</li>
      <li>Many more for those who want to use the keyboard.</li>
    </ul>
  </li>
  <li>
    Intuitive mouse controls:
    <ul>
      <li>Left click a tag to show the windows with that tag.</li>
      <li>
        Right click a tag to toggle a tag. This means that in a single click you
        can show or hide the browser window when working with your editor.
      </li>
      <li>
        <kbd>Windows</kbd> + left click on a tag to move the current window
        there.
      </li>
      <li>
        <kbd>Windows</kbd> + right click on a tag to add/remove the current
        window there.
      </li>
      <li><kbd>Windows</kbd> + left click and drag to move windows.</li>
      <li>
        <kbd>Windows</kbd> + right click and drag to resize windows. This is
        extra cool with many windows, since they all resize at the same time.
      </li>
    </ul>
  </li>
  <li>
    One set of tags per monitor. Of course you can drag windows between them.
  </li>
</ul>
<p>Even so, as a beginner a few tricks are worth keeping in mind:</p>
<ul>
  <li>
    Configuration:
    <ul>
      <li>
        <a href="https://www.lua.org/">Lua</a> code means enormous flexibility,
        but can be daunting if you're not a programmer. However, Lua is
        relatively easy to learn.
      </li>
      <li>
        Verify your changes work by running <code>awesome --check</code> before
        restarting Awesome. Don't worry, if it doesn't work you'll just get the
        default configuration (unless you created an infinite loop :).
      </li>
      <li>
        You don't have to log out to try a new configuration; simply press
        <kbd>Windows</kbd> + <kbd>Ctrl</kbd> + <kbd>r</kbd>.
      </li>
      <li>
        The <a href="https://awesomewm.org/apidoc/">wiki</a> has lots of tips
        and tricks.
      </li>
      <li>
        The evolution of a working configuration (<em
          >Update: sorry, the link is dead</em
        >) can be instructive (even if it's from a newbie).
      </li>
    </ul>
  </li>
  <li>
    The keyboard and mouse buttons have unfamiliar names in the documentation,
    for historical and technical reasons. A glossary:
    <ul>
      <li>Button1 = Left mouse</li>
      <li>Button2 = Right mouse</li>
      <li>Button3 = Middle mouse</li>
      <li><kbd>Mod4</kbd> = <kbd>Windows</kbd></li>
    </ul>
  </li>
</ul>
