---
title: Quit social job sites
categories:
  - privacy
  - web
tags:
  - productivity
  - web sites
  - work
author: Victor Engmark
---

<p>
  I just quit two social job sites, and I don't expect I'll start using another
  one. After several years' membership I find that my occasional hillbilly-style
  urge to peek through the work-life curtains of acquaintances is not outweighed
  by the cons:
</p>

<ul>
  <li>
    Spam, Spam, Spam, Spam, lovely Spam! Lovely Spam! I hesitate to think that
    I've received even half a dozen useful messages through these sites, and
    those would have been just as useful via email. That means even the
    occasional junk mail is pushing the statistics up the &gt;90% range.
  </li>
  <li>
    Giant productivity sink. Did you ever have "100% completion" on your
    profile? How long did it take until it was back at 80%? And how many giant
    lists of people, skills and options have you gone through to "optimize" your
    participation?
  </li>
  <li>
    Sites selling my information to third parties really grinds my gears. With
    "we can do anything we like, anytime we want" legalese, "You are not being
    watched" propaganda and the impossibility of keeping up with opt-out data
    sharing schemes, it's hopeless to keep any kind of privacy.
  </li>
</ul>
<p>
  This list is starting to look a lot like the reasons for leaving Facebook. So
  good riddance! Those who know where to find me (without having bought my
  contact information) know that they're welcome to.
</p>
