---
title: "Bug #1: Home directory is not version controlled"
categories:
  - shell
  - version control
tags:
  - Git
  - home directory
author: Victor Engmark
---

<p>
  <a href="https://gitlab.com/engmark/tilde#install">How to reproduce</a>:
  Modify dotfiles and scripts in the home directory on multiple machines without
  keeping track of the changes.
</p>

<p>What happens:</p>
<ul>
  <li>Lots of manual work to synchronize and merge changes.</li>
  <li>Uncertainty about which changes exist where.</li>
  <li>Lost work because of minor mistakes or giving up on complex merges.</li>
</ul>
<p>
  What should happen: Changes should be <strong>reproducible</strong>,
  <strong>visible</strong> and <strong>simple</strong> enough to be merged.
</p>
<p>How to fix: Use version control.</p>
<p>Workaround:</p>
<ol>
  <li>
    Fork an
    <a href="https://gitlab.com/engmark/tilde"
      >existing version controlled home directory</a
    >.
  </li>
  <li>
    <code
      >git clone --recursive git://github.com/<em>your-user</em>/tilde.git</code
    >
  </li>
  <li>Merge with your existing home directory.</li>
  <li><code>make clean</code> to do miscellaneous cleanup before you</li>
  <li><code>commit</code> and <code>push</code>.</li>
  <li>
    <code>make install</code> to create symbolic links from your home directory
    to the repository.
  </li>
  <li>
    <code>clone</code> and <code>pull</code> on any machines which need your
    changes.
  </li>
</ol>
<p>
  That's pretty much all there is to this workflow, really. There's a ton of
  commands with descriptive tags in <code>.bash_history</code>, configuration
  for Bash, Vim, Awesome WM, screen layouts, email tools, and much more that you
  can copy (and criticize) all you want.
</p>
