---
title: How good is your unsubscribe?
categories:
  - communication
tags:
  - newsletters
  - spam
author: Victor Engmark
---

<p>
  How far down the list do you get? These are all real issues with real
  newsletters or mailing lists I have at some time had the misfortune to
  subscribe to. Some of them are still filling up my spam box after multiple
  attempts at getting rid of them.
</p>

<ol>
  <li>
    Is it <em>possible</em> to unsubscribe? If not, why are you reading this?
    Shouldn't you be apologising to your users?
  </li>
  <li>
    Does <em>every</em> message explain how to unsubscribe? Or are you sending
    periodic reminders with newsletter metadata? *Shudder*
  </li>
  <li>
    Do I have to contact <em>your domain</em> to unsubscribe? Otherwise I'll
    assume the whole thing is a phishing attempt.
  </li>
  <li>Can I unsubscribe by <em>email</em>? Useful if bandwidth is low.</li>
  <li>
    Can I unsubscribe by <em>replying</em> to the newsletter? Much simpler than
    copying a newsletter+unsubscribe@example.org address or sending "unsubscribe
    newsletter" to mailman@example.org, especially on a phone.
  </li>
  <li>
    Can I unsubscribe by clicking a <em>URL</em>? The web is a powerful thing.
  </li>
  <li>
    Can I unsubscribe <em>without typing</em> anything? You're already
    generating unique emails, so it would be very easy to generate unique URLs.
  </li>
  <li>
    Can I unsubscribe in a <em>single click</em>? Why have two steps if you can
    have only one?
  </li>
  <li>
    Can I <em>re-subscribe</em> with a single click? For those silly accidents.
  </li>
</ol>
