---
title: SMS authentication on wordpress.com fail
categories:
  - security
  - WordPress
tags:
  - authentication
  - mobile
  - wordpress.com
author: Victor Engmark
---

<p>
  wordpress.com recently
  <a href="https://wordpress.com/support/security/two-step-authentication/"
    >added two step authentication</a
  >. Hooray for taking security seriously! Unfortunately the
  <a href="https://wordpress.com/settings/security/">setup page</a> is full of
  fail:
</p>

<ul>
  <li>
    No indication whether the
    <strong
      ><a href="https://en.wikipedia.org/wiki/Trunk_prefix"
        >trunk prefix</a
      ></strong
    >
    should be included in the number. I tried both with and without one, twice,
    but never received a single message. It is not obvious how it would occur to
    anyone to try both, especially for people who always use one or the other.
  </li>
  <li>
    Why is <strong>Google Authenticator</strong> so massively
    <strong>emphasized over SMS</strong>? Granted, many rich* people have a
    smartphone, but there is no indication why using a third party app is
    preferable to the solution which works on every mobile phone capable of
    connecting to an existing network.
    <abbr title="You ain't gonna need it">YAGNI</abbr>, and if GitHub gets by
    with SMS then it's good enough for me.
  </li>
  <li>
    Why is there a separate <strong>"Send SMS" button</strong>? Surely by the
    time the "Verify Code" page shows up you should have sent the message.
  </li>
  <li>
    The first page contains an obvious button to go to the next step. The second
    page contains three differently styled button-ish elements to show download
    links for one app and two plain links to go to the next page. The third page
    (after following the "use Two Step Authentication via SMS" link) contains
    one left-aligned and one right-aligned button. I haven't got to the last
    page yet; I just hope it isn't too crazy.
  </li>
  <li>No relevant <strong>help page</strong> in sight.</li>
  <li>
    No <strong>context-sensitive support link</strong>. For a new feature of
    such importance and with the possibility of locking people out pending
    manual intervention I'd expect more direct support integration.
  </li>
  <li>
    Most search results for "sms authentication" in their forums (<em
      >Update: sorry, the link is dead</em
    >) seem to revolve around problems deactivating this feature. Sounds like
    it's simply <strong>not ready yet</strong>.
  </li>
</ul>
<p>
  PS: I'm using SMS codes for several other international services, and they all
  work fine.
</p>
<p>
  * If you're reading this, then you are very likely within the 10% richest
  people on the Earth.
</p>
