---
title: Save your bookmarks on Pinboard!
categories:
  - backup
  - review
  - services
tags:
  - bookmarking
  - Pinboard
  - service
  - web
  - website
author: Victor Engmark
---

<p>Why? Check this out:</p>

<ul>
  <li>
    Simplicity
    <ul>
      <li>
        List interface:<img
          src="/assets/images/2016-02-24-145849_1366x768_scrot.png"
          alt="2016-02-24-145849_1366x768_scrot"
          width="1087"
          height="279"
        />
      </li>
      <li>
        Bookmarking interface:<img
          src="/assets/images/2016-02-24-140756_1366x768_scrot1.png"
          alt="2016-02-24-140756_1366x768_scrot"
          width="679"
          height="322"
        />
      </li>
      <li>No ads</li>
    </ul>
  </li>
  <li><a href="https://pinboard.in/signup/">Price</a></li>
  <li>
    Safety
    <ul>
      <li>Rock solid since I started using it in 2012</li>
      <li>
        <a href="https://pinboard.in/settings/backup">Backups</a> in multiple
        portable formats
      </li>
    </ul>
  </li>
  <li>
    Privacy & security
    <ul>
      <li>
        Scores a B on the
        <a href="https://www.ssllabs.com/ssltest/analyze.html?d=pinboard.in"
          >SSL Labs server test</a
        >, better than most online banks in my experience
      </li>
      <li>
        Has a <a href="https://pinboard.in/security/">PGP key</a> for
        communication of security issues
      </li>
      <li>
        <a href="https://www.eff.org/privacybadger">Privacy Badger</a> reports
        no trackers
      </li>
    </ul>
  </li>
  <li>
    Access via <a href="https://pinboard.in/resources/">basically any means</a>:
    browser extensions, JavaScript widgets, apps and API
  </li>
  <li>Extensive <a href="https://pinboard.in/faq/">FAQ</a></li>
  <li>
    Likely to survive for long because of a simple, sustainable business model
  </li>
</ul>
<p>
  Other than being a happy customer I am in no way affiliated with Pinboard.
</p>
