---
title: How broken is Samsung UK support?
categories:
  - usability
  - website
tags:
  - Samsung
  - support
author: Victor Engmark
---

<p>This is how broken:</p>

<ul>
  <li>
    There are
    <a href="https://www.samsung.com/uk/support/erms/"
      >two "types" of requests</a
    >, both of which link to the same page. This wastes customers' time.
  </li>
  <li>
    Can't find my hardware by browsing or
    <a href="https://www.samsung.com/uk/support/erms1/"
      >searching for the model</a
    >. I tried three different ones - the long name from the order, the short
    name from the shop, and the name that shows up in the "about" screen on the
    device itself.
  </li>
  <li>
    After continuing with the wrong model, I had to fill in my contact details
    even though I had already registered them.
  </li>
  <li>
    When I tried to submit the form I got a "Tried to send data without
    session." error. Resubmitting didn't work.
  </li>
  <li>
    <em>Intermission</em>: at this point I tried to use the built-in support
    request functionality on the device itself. After filling in the forms using
    arrow keys (and reminiscing about the NES days), I was simply told that all
    available support slots were taken. At this point I could no longer progress
    in the form. Fuck.
  </li>
  <li>
    Re-opening the form in another tab did work. The experience so far did not
    exactly inspire confidence, but I still hope someone will reply.
  </li>
</ul>
