---
title: When MFA is not enough
categories:
  - security
  - services
tags:
  - bug
  - MFA
  - multi-factor authentication
  - social engineering
  - three-factor authentication
author: Victor Engmark
---

<p>
  I hope you'll excuse the format of this post. Coffee does strange things to my
  brain.
</p>

<p>
  In the beginning, there was the <strong>username</strong>. And it was deemed
  good enough, because
  <strong>everybody on the machine was a trusted colleague.</strong> Then came
  machines shared by strangers, and with them the <strong>password</strong>. And
  it was deemed good enough, because
  <strong>the resources to crack it were beyond most.</strong> Then came the
  Internet, and the world flourished and grew. But the world contains more
  villains than the password, in its myriad implementations, could withstand.
  And thus came <strong>multi-factor authentication</strong>. And it was deemed
  good enough, because
  <strong
    >only someone in possession of the authenticated device could gain
    access</strong
  >.
</p>
<p>
  But they were all deceived, because the service providers foretold that their
  users would lose their authenticated device, and lock themselves out of their
  accounts, and would blame <em>them</em> rather than their own misfortune. And
  so it was that, fearing their users' wroth,
  <strong
    >the service providers gave their support personnel unfettered access to
    <a href="https://www.youtube.com/watch?v=lc7scxvKQOo"
      >override MFA at the behest of a phone call</a
    ></strong
  >.
</p>
<p>
  Some service providers were wiser, and gave out
  <strong>backup codes</strong> after authenticating, thus
  <strong>allowing users to regain access by themselves</strong>, and promised
  not to give access to anybody with a honeyed voice, and reminded their users
  ever and anon that they should be mindful of their backup codes, and even gave
  them the option to be told when their account was logged into. And their users
  were at peace, trusting that their service providers knew what the fuck they
  were doing, that their files were safe, and being forever loyal to them.
</p>
