---
title: These companies work against your freedom
categories: []
tags: []
author: Victor Engmark
---

<p>
  Most companies have never done anything sufficiently evil to deserve going on
  this list. This list is reserved for companies which have done at least one
  thing that was so bad they should not be forgiven for it. I will try my very
  best never to do anything benefiting them economically, and I hope you will
  too.
</p>

<ul>
  <li>
    Adobe, for plaguing the web with insecure, closed source, DRM-enabling Flash
    plugins for about a decade.
  </li>
  <li>
    Apple, for creating a
    <a
      href="https://www.eff.org/deeplinks/2014/12/sorry-iphone-users-apples-dev-agreement-means-no-eff-mobile-app-iphone"
      >walled garden</a
    >.
  </li>
  <li>
    Google, for their role in
    <a href="https://www.w3.org/TR/encrypted-media/"
      >standardising digital restrictions management on the web</a
    >.
  </li>
  <li>
    Microsoft, for spreading fear, uncertainty and doubt about open source
    software for a generation.
  </li>
  <li>
    Netflix, for their role in
    <a href="https://www.w3.org/TR/encrypted-media/"
      >standardising digital restrictions management on the web</a
    >.
  </li>
  <li>
    Sony, for
    <a
      href="https://www.eff.org/deeplinks/2005/11/uproot-sony-bmgs-invasion-your-privacy-and-your-computer"
      >installing a rootkit via their CDs</a
    >.
  </li>
</ul>
