---
title: Mitre10 web site dark patterns
categories:
  - privacy
  - review
tags:
  - hardware
  - JavaScript
  - Mitre10
  - tool
  - web
author: Victor Engmark
---

<p>Dear Mitre10</p>

<p>
  I have bought many useful tools in your shop, and got very good service every
  time. But today I got a nasty surprise. I bought a
  <a href="https://www.mitre10.co.nz/shop/fuller-revolving-punch-200mm/p/249632"
    >Fuller Revolving Punch 200mm</a
  >
  in order to punch some holes in some nylon fabric. Maybe the cutting tubes are
  made of "strong carbon steel" as you advertise, but the rest of the tool seems
  to be made of wet paper. I was able to bend it out of shape, squeezing the
  handles together until the metal bulged at the joint. On the very first go.
  With one hand. And I'm a software developer, not a body builder. The tool was
  unusable after literally 10 seconds.
</p>
<p>
  Anyway, I was very annoyed at the quality, and wanted to post a review. And
  this was where I got really very annoyed, for two reasons:
</p>
<ul>
  <li>
    Your review form displays a warning to "disable any ad blockers, which can
    prevent successful review submission." No, that's not how computers work.
    And if for some bizarre reason you're submitting reviews through one of your
    ad providers you probably want to review your review code. And as warned,
    yes, indeed, I was not able to submit my one star review.
  </li>
  <li>
    Your web site does not display product details, including reviews and their
    submission button, when viewing in Tor Browser. Not even after logging in
    and disabling all JavaScript blocking.
  </li>
</ul>
