---
title: August bug
categories:
  - programming
  - software
tags:
  - bash
  - bug
  - date
  - encoding
  - number
author: Victor Engmark
---

<p>
  <a href="https://rachelbythebay.com/w/2020/10/07/wintime/"
    ><em>Remembering a classic "time travel" bug</em></a
  >
  reminded me of a fun time in Bash. How to reproduce in four handy steps:
</p>

<ol>
  <li>
    Split a date string by hyphens into <code>$year</code>,
    <code>$month</code> and <code>$day</code>.
  </li>
  <li>
    Use <code>$month</code> in an arithmetic context. I don't remember the exact
    code, but it was probably something trivial like
    <code>[[ "$month" -eq 1 ]]</code>.
  </li>
  <li>
    Wait until August, when the script blows up with
    <pre>[[: 08: value too great for base (error token is "08")</pre>
  </li>
  <li>
    Learn about octal in Bash, smack forehead, and curse language designers who
    thought it was a good idea to make numbers ambiguous in order to save one
    character instead of using something reasonable like a
    <code>0o</code> prefix to fit with the already ubiquitous
    <code>0x</code> and <code>0b</code>.
  </li>
</ol>
<p>At no point did anyone profit during this exchange.</p>
<p>
  As an aside, this is the sort of thing that only exhaustive testing will
  catch, because “01” through “07” are the same value whether decoded as octal
  or decimal, and “10” through “12” are decoded as decimal. Only “08” and “09”
  are actually problematic values.
</p>
