{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}

{%- if html_proofer_ignore == "all" -%}
{%- assign html_proofer_attr = " data-proofer-ignore" -%}
{%- endif -%}
<div class="webmentions"{{ html_proofer_attr }}{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
  <ol class="webmentions__list">
    {% for webmention in webmentions %}
    <li id="webmention-{{ webmention.id }}" class="webmention webmentions__item webmention--{{ webmention.type }}">
      <article class="h-cite
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            ">
        {% if webmention.author %}
        <div class="webmention__author p-author h-card">
          {% capture author_id %}
          {% if webmention.author.photo %}
          <img
            class="webmention__author__photo u-photo"
            src="{{ webmention.author.photo }}"
            alt=""
            {% if webmention.author.name %}
            title="{{ webmention.author.name }}"
            {% endif %}
          >
          {% endif %}

          {% if webmention.author.name %}
          <span class="webmention__author__name p-name">{{ webmention.author.name }}</span>
          {% endif %}
          {% endcapture %}

          {% if webmention.author.url %}
          <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ author_id }}</a>
          {% else %}
          {{ author_id }}
          {% endif %}
        </div>
        {% endif %}

        <div class="webmention__content p-content">
          {% if webmention.content %}
          {{ webmention.content }}
          {% else %}
          {{ webmention.title }}
          {% endif %}
        </div>

        <div class="webmention__meta">
          {% if webmention.pubdate %}
          <time class="webmention__pubdate dt-published"
                datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
          {% endif %}
          {% if webmention.pubdate and webmention.uri %}|{% endif %}
          {% if webmention.uri %}
          <a class="webmention__source u-url" href="{{ webmention.uri }}" rel="nofollow">Permalink</a>
          {% endif %}
        </div>
      </article>
    </li>
    {% endfor %}
  </ol>
  {% else %}
  <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div>
