---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="post-meta">{% if page.author %}<span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>, {% endif %}<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%F" }}</time></p>
  </header>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a href="/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-footer">
    <p class="feedback">Comments? Feedback? Corrections? <a href="mailto:feedback@paperless.blog?subject=Re:%20{{ page.title | uri_escape }}" rel="me">Send an email.</a></p>
    <p class="history"><a href="https://gitlab.com/{{ site.gitlab_username }}/{{ site.gitlab_username }}.gitlab.io/-/commits/master/{{ page.path }}">Version history</a></p>
  </div>

  {% comment %}
  TODO: Remove `<div data-proofer-ignore>` once https://github.com/aarongustafson/jekyll-webmention_io/issues/172 is resolved.
  {% endcomment %}
  <div data-proofer-ignore>
    {% webmentions page.url %}
  </div>

</article>
